<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" 
            xsi:type="File" 
            fileName="${basedir}/Logs/USDA.ARS.GRIN.Admin.${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}" />
    <target name="logconsole" xsi:type="Console"/>
    <target xsi:type="Database"
          name="dbTarget"
          connectionString="Data Source=10.9.237.132;Initial Catalog=gringlobal;User Id=gg_user;Password=Savory*survive8ammonia?;Connection Timeout=30;Connection Lifetime=0;Min Pool Size=0;Max Pool Size=100;Pooling=true;"
          commandText="INSERT INTO sys_app_error_log (ApplicationCode, ErrorLevel, ErrorMessage, StackTrace, Exception,Logger,Url,CreateDate) 
                   VALUES ('GGTOOLS_ARM',@level,@msg,@trace,@exception,@logger,@url,GETDATE())">
      <parameter name="@datetime" layout="${date}" />
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@exception" layout="${exception}" />
      <parameter name="@trace" layout="${stacktrace}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@url" layout="${aspnet-request-url}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>