
@{
    ViewBag.Title = "Collections";
}

    <main class="usa-grid usa-section usa-content usa-layout-docs">
        <div>
            <a href="https://npgsdev.ars-grin.gov/GRINWeb">GRIN Home</a> | NPGS Collections
        </div>

        <div style="clear:both;">
            <hr />
        </div>

        @Html.Partial("~/Views/Shared/_LeftNavNGPS.cshtml")

        <div class="usa-width-three-fourths usa-layout-docs-main_content">
                <h3>NGPS Collections</h3>

                
            </div>
    </main>
