
@{
    ViewBag.Title = "Repositories";
}

    <main class="usa-grid usa-section usa-content usa-layout-docs">
        <div>
            <a href="https://npgsdev.ars-grin.gov/GRINWeb">GRIN Home</a> | Repositories
        </div>

        <div style="clear:both;">
            <hr />
        </div>
      
        <div class="usa-width-one-whole">
            <h3>Repositories</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Site</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="80%">
                            <a href="http://www.ars.usda.gov/Main/docs.htm?docid=19218">
                                Arctic and Subarctic Plant Genetic Resources Unit
                            </a>
                        </td>
                        <td width="20%"> Palmer, Alaska  </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://tgrc.ucdavis.edu/">
                                C.M. Rick Tomato Genetics Resource Center
                            </a>
                        </td>
                        <td> Davis, California  </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://cals.arizona.edu/desertlegumeprogram/">
                                Desert Legume Program
                            </a>
                        </td>
                        <td>  Tucson, Arizona  </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.ars.usda.gov/Main/docs.htm?docid=23562">
                                Genetic	Stocks - Oryza (GSOR) Collection
                            </a>
                        </td>
                        <td> Stuttgart, Arkansas  </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://maizecoop.cropsci.uiuc.edu/">
                                Maize Cooperation Genetic Stocks
                            </a>
                        </td>
                        <td>Urbana, Illinois   </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="http://www.ars.usda.gov/Main/docs.htm?docid=14120">
                                G.A. Marx Pea Genetic Stock Center (GSPI)
                            </a>
                        </td>
                        <td> Pullman, Washington </td>
                    </tr>


                    <tr>
                        <td> <a href="http://www.ars.usda.gov/Main/docs.htm?docid=6639">National Arid Land Plant Genetic Resources Unit (PARL)</a>   </td>
                        <td>Parlier, California   </td>
                    </tr>


                    <tr>
                        <td>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=53-58-15-00">
                                National Clonal Germplasm Repository (COR)
                            </a>
                        </td>
                        <td>Corvallis, Oregon   </td>

                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=53-10-30-00">
                                National Clonal Germplasm Repository for Citrus and Dates
                            </a>
                        </td>
                        <td> Riverside, California  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=53-06-20-00">
                                National Clonal Germplasm Repository for Tree Fruit/Nut Crops and Grapes (DAV)
                            </a>
                        </td>
                        <td> Davis California  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://ars.usda.gov/main/site_main.htm?modecode=80-42-05-45">
                                National Germplasm Resources Laboratory (NGRL)
                            </a>
                        </td>
                        <td>  Beltsville, Maryland  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=54-02-05-00">
                                Plant and Animal Genetic Resources Preservation
                            </a>
                        </td>
                        <td>  Fort Collins, Colorado  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/main/docs.htm?docid=2884">
                                National Small Grains Collection including Barley and Wheat Genetic Stocks (NSGC)
                            </a>
                        </td>
                        <td>  Aberdeen, Idaho  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/Main/docs.htm?docid=6638">
                                National Temperate Forage Legume Genetic Resources Unit
                            </a>
                        </td>
                        <td> Prosser, Washington   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=36-25-12-00">
                                North Central Regional Plant Introduction Station (NC7)
                            </a> 
                        </td>
                        <td> Ames, Iowa   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="https://opgc.osu.edu/">
                                Ornamental Plant Germplasm Center (OPGC)
                            </a> 
                        </td>
                        <td> Columbus, Ohio   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/Research/docs.htm?docid=13080">
                                Pecan Breeding &amp; Genetics (BRW)
                            </a> 
                        </td>
                        <td> Brownwood and Somerville, Texas   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=66-07-00-00">
                                Plant Genetic Resources Conservation Unit
                            </a> 
                        </td>
                        <td> Griffin, Georgia   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/Main/site_main.htm?modecode=19-10-05-00">
                                Plant Genetic Resources Unit (PGR)
                            </a>
                        </td>
                        <td>  Geneva, New York  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/Main/site_main.htm?docid=3239">
                                Soybean/Maize Germplasm, Pathology, and Genetics Research Unit
                            </a> 
                        </td>
                        <td>  Urbana, Illinois  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/Main/docs.htm?docid=10134">
                                Subtropical Horticulture Research Station (MIA)
                            </a>
                        </td>
                        <td>  Miami, Florida  </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=66-35-00-00">
                                Tropical Agriculture Reseach Station
                            </a>
                        </td>
                        <td> Mayag&uuml;ez, Puerto Rico   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="https://www.ars.usda.gov/pacific-west-area/hilo-hi/daniel-k-inouye-us-pacific-basin-agricultural-research-center/tropical-plant-genetic-resources-and-disease-research/">
                                Tropical Plant Genetic Resource Management Unit (HILO)
                            </a>
                        </td>
                        <td> Hilo, Hawaii   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars-grin.gov/nr6/">
                                United States Potato Genebank - NRSP-6
                            </a>
                        </td>
                        <td> Sturgeon Bay, Wisconsin   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="http://www.ars.usda.gov/Main/docs.htm?docid=6637">
                                Western Regional Plant Introduction Station (W6)
                            </a>
                        </td>
                        <td> Pullman, Washington   </td>
                    </tr>

                    <tr>

                        <td>
                            <a href="https://www.usna.usda.gov/science/our-scientists/mr.-kevin-conrad">
                                Woody Landscape Plants
                            </a>
                        </td>
                        <td>  Washington, DC  </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
