@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDSInteriorAdmin.cshtml";
}
<div class="usa-section">
    <div class="grid-container" style="max-width:94rem;">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        @*<li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Admin")">Crop Germplasm Committees</a>
                        </li>*@
                        <li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Admin")">Documents</a>
                        </li>
                        @*<li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Admin")">Code Values</a>
                        </li>*@
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
                <h3 id="section-heading-h3">Documents</h3>
                @{ Html.RenderAction("_CropGermplasmCommitteeDocumentList", "Admin");}
            </main>
        </div>
    </div>
</div>