
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInteriorAdmin.cshtml";
}

<div class="grid-container">
    <div class="grid-row grid-gap">
        <div class="usa-layout-docs__sidenav desktop:grid-col-2">
            <nav aria-label="Secondary navigation">
                
            <ul class="usa-sidenav">
                <li class="usa-sidenav__item">
                    <a href="/">Crop Germplasm Committees</a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="/">Documents</a>
                </li>
                <li class="usa-sidenav__item">
                    <a href="/">Code Values</a>
                </li>


            </ul>
            </nav>
        </div>
        <main class="usa-layout-docs__main desktop:grid-col-9 usa-prose usa-layout-docs" id="main-content">
             @{ Html.RenderAction("_CropGermplasmCommitteeDocumentList", "Admin");}
        </main>
    </div>
</div>