<div class="usa-alert usa-alert--error" role="alert">
    <div class="usa-alert__body">
        <h4 class="usa-alert__heading">An Application Error Has Occurred</h4>
        <p class="usa-alert__text">
            We're sorry! The system administrator has been alerted, and this will
            be addressed as soon as possible.
        </p>
        <p>
            If there is PVP information that you need urgently, please contact <a href="mailto:grin-feedback@usdagov">
            GRIN support.</a>
        </p>
    </div>
</div>