<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <h4>Germplasm</h4>
        <li>   
            @Html.ActionLink("Plant Germplasm", "NPGS", "Pages")
        </li>       
        <li><a href="https://nrrc.ars.usda.gov/A-GRIN/database_collaboration_page_dev">Animal Germplasm</a></li>
        <li>@Html.ActionLink("Microbial Germplasm", "NMGP", "Pages")</li>
        <li><a href="#">Invertebrate Germplasm</a></li>
        <h4>About Us</h4>
        <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/">NGRL</a>
        <li>@*@Html.ActionLink("Overview", "About", "Home")*@</li>
    </ul>
</aside>
