<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <h4>Related Topics</h4>
        <li>
            @Html.ActionLink("NPGS Collections", "Collections", "Pages")
        </li>
        <li>
            @Html.ActionLink("Crop Germplasm Committees", "Index", "CGC")
        </li>
        <li>@Html.ActionLink("Repository Home Pages", "Repositories", "Pages")</li>
        <li><a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/docs/plant-inventory-books/">Plant Inventory Books</a></li>
        <li>@Html.ActionLink("NGO Directory", "NGODirectory", "Pages")</li>
        <h4>About Us</h4>
        <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/">NGRL</a>
        <li>@*@Html.ActionLink("Overview", "About", "Home")*@</li>
    </ul>
</aside>

