<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <li><a href="https://npgsweb.ars-grin.gov/gringlobal/query/summary.aspx" title="Number of familes, genera, species and accessions in the NPGS">Diversity of Species in NPGS</a></li>
        <li><a href="https://npgsweb.ars-grin.gov/gringlobal/query/accessionsbysite.aspx" title="List the NPGS genebanks and a count of total holdings">Summary by Genebank</a></li>
        <li><a href="Seeds_for_Our_Future_Revised_1996.pdf">Seeds for Our Future</a></li>
        <li><a href="https://www.ars-grin.gov/npgs/cgc_reports/Crop_Vulnerability_Statement_Outline.doc">CVS Template (.doc)</a></li>
    </ul>
</aside>
