
@{
    ViewBag.Title = "NGRAC";
}

    <main class="usa-grid usa-section usa-content usa-layout-docs">
        <div>
            <a href="https://npgsdev.ars-grin.gov/GRINWeb">GRIN Home</a> | NGRAC
        </div>

        <div style="clear:both;">
            <hr />
        </div>

        <div class="usa-width-one-whole">
            <h4>National Genetic Resources Advisory Council (NGRAC) </h4>
            <h5>Welcome</h5>
            <p>
                The NGRAC advises and makes recommendations to the Secretary and Director of the NGRP through the NAREEE Advisory Board on matters related to the activities,
                policies and operations of the National Genetic Resources Program. The Agricultural Improvement Act of 2018 further expanded the responsibilities of the Council
                to include recommendations on public cultivar development.
            </p>
            <h5>Authority</h5>
            <p>The NGRAC for the National Genetic Resources Program (NGRP) was established in March, 1992, under the USDA Departmental Regulation 1043-8 as directed by Section 1632 of P.L. 101-624. The NGRAC was re-chartered in May 2011. In April 2012 the NGRAC was inactivated as a standalone entity, and transitioned under the National Agricultural Research, Extension, Education, and Economics (NAREEE) Advisory Board. The NAREEE Advisory Board was established by the Federal Agricultural Improvement and Reform Act of 1996, P.L. 104-127, Sec. 802. </p>

            <h5>Purpose</h5>
            <p>The NGRAC advises and makes recommendations to the Secretary and Director of the NGRP through the NAREEE Advisory Board on matters related to the activities, policies and operations of the National Genetic Resources Program. The Agricultural Improvement Act of 2018 further expanded the responsibilities of the Council to include recommendations on public cultivar development.</p>

            <div class="alert alert-info">
            <h4 class="alert-heading">News</h4>
            <p>
            The National Genetics Research Advisory Council is seeking nominations for the following categories:
            <ul>
            <li>Three (3) scientific members</li>
            <li>Two (2) general public members</liclass="list-group-item">
            <li>
            Four (4) public cultivar development and animal breed development members.</span>
            </li>
            </ul>
            <p>
            <strong>The deadline for application submission is April 26, 2019.
            <p>All nomination materials should be submitted in a single, complete package and received or postmarked by April 26, 2019.</p>
            <p>The nominee's name, resume or CV, completed and signed Form AD-755, and any letters of support must be submitted via one of the
            following methods:
            <br />(1) Email (preferred) to <a href="mailto:nareeeab@ars.usda.gov?Subject=NGRAC%20Nomination" target="_top">nareeeab@ars.usda.gov</a>;
            <br />(2) By fax to 202-720-6199; or
            <br />(3) By mail delivery service to:
            
            <address style="text-align:center;">
                <strong>REE Advisory Board Office</strong><br />
                U.S. Department of Agriculture<br />
               Jamie L. Whitten Building, Room 332-A<br />
               1400 Independence Avenue SW, Washington, DC<br />
               20250-2255
            </address>
            </p>
            </div>

            <div class="panel-group" id="accordionCity">
                <div class="panel panel-primary" id="nested165884">
                    <div class="panel-heading panel-primary">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionCity" href="#collapse165884" style="color:white;">
                                Meetings
                            </a>
                        </h4>
                    </div>
                    <div id="collapse165884" class="panel-collapse collapse">
                        <div class="panel-body" style="padding:0px;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Location</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>NGRAC Meeting</td>
                                        <td>
                                            ARS Plant Genetic Resources Conservation Unit at the University of Georgia Research Garden Education Building Griffin, GA
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/2016_NGRAC_Mtg_Announc-Griffin_GA_Final.pdf">Stakeholder Announcement</a></li>
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/2016_April_21-22_NGRAC_Agenda_FINAL.pdf">Agenda</a></li>
                                            </ul>
                                        </td>
                                        <td><strong>April 21-22, 2016</strong></td>
                                    </tr>
                                    <tr>
                                        <td>NGRAC Meeting</td>
                                        <td>
                                            Louisiana State University Agricultural Center, Aquatic Germplasm and Genetic Resources Center, Baton Rouge, LA
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/2016_NGRAC_Press_Release.doc">Press Release</a></liclass="list-group-item">
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/2015_Nov_9-10_NGRAC_Agenda_FINAL.pdf">Agenda</a></li>
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/2015_USDA_NGRAC_Mtg_Minutes_Dec-7-2015_Final.pdf">Minutes</a></li>
                                            </ul>
                                        </td>
                                        <td><strong>November 9-10, 2015</strong></td>
                                    </tr>
                                    <tr>
                                        <td>NGRAC Meeting</td>
                                        <td>
                                            George Washington Carver Center, Beltsville, MD
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/agenda.doc">Agenda</a></li>
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/5_NGRAC_Mtg_March_31-April_1,_2015-MINUTES.pdf">Minutes</a></li>
                                            </ul>
                                        </td>
                                        <td><strong>March 31 - April 1, 2015</strong></td>
                                    </tr>
                                    <tr>
                                        <td>NGRAC Meeting</td>
                                        <td>
                                            Seed Science Center, Ames, Iowa
                                            <ul class="list-group">
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/2014_Sept_NGRAC_Meeting_FINAL.pdf">Agenda</a></li>
                                                <li class="list-group-item"><a href="https://www.cloud.ars-grin.gov/ngrac/agngracSep2014.pdf">Minutes</a></li>
                                            </ul>
                                        </td>
                                        <td><strong>September 23-25, 2014</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary" id="nested165885">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionCity" href="#collapse165885" style="color:white;">
                                Membership
                            </a>
                        </h4>
                    </div>

                    <div id="collapse165885" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="accordion-sub-heading">
                                The NGRAC shall consist of thirteen members appointed by the Secretary and seven or more ex-officio members. ]
                                The membership categories are: 
                                <ul>
                                    <li>
                                        6 members from scientific disciplines relevant to the NGRP, including agricultural sciences, economics
                                        and policy, environmental sciences, natural resource sciences, health sciences, and nutritional sciences.
                                    </li>
                                    <li>
                                        3 members from the general public, and shall include leaders in fields of public policy, community development, trade,
                                        international development, law, or management.
                                    </li>
                                    <li>
                                        4 members from public cultivar development and animal breed development 4 of the
                                        total members must also represent the 1862 land-grant colleges and universities, the 1890 land-grant college and universities,
                                        Hispanic-serving institutions, or 1994 Equity in Education land-grant institutions. It is likely that each of the life forms in the NGRP
                                        (plants, forest species, animals, aquatics, insects, and microbes) are represented by only one appointed scientific member.
                                    </li>
                                </ul>
                                <p style="font-style:italic;">Re-chartered May 31, 2011, as a subcommittee of the NAREEE Advisory Board</p>
                            </div>
                            <div style="padding:15px;">
                                <h5>Appointed Members</h5>
                                <h6>Scientific Members</h6>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Information</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Dr. Manjit Misra (NGRAC Chair)</td>
                                            <td>
                                                Professor/Director of the Seed Science Center
                                                as well as the Director of the Biosafety Institute for Genetically Modified Agricultural Products (BIGMAP) at
                                                Iowa State University
                                                (2nd Term, 2015-2017)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dr. Paul Gepts </td>
                                            <td>
                                                Professor of Plant Sciences and Geneticist/Breeder
                                                Department of Plant Sciences, University of California, Davis
                                                (2015-2018)
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Dr. Stephen Smith </td>
                                            <td>
                                                Iowa State University
                                                (2nd Term, 2015-2017)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dr. Kevin McCluskey</td>
                                            <td>
                                                Curator/Research Professor
                                                Fungal Genetics Stock Center, Department of Plant Pathology
                                                Kansas State University
                                                4024 Throckmorton Plant Science Center
                                                Manhattan, KS 66506
                                                (2017 - 2019)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dr. Terry Tiersch </td>
                                            <td>
                                                Professor and Director
                                                Aquatic Germplasm and Genetic Resources Center
                                                School of Renewable Natural Resources
                                                Louisiana State University Agricultural Center
                                                <br />2288 Gourrier Avenue
                                                Baton Rouge, LA 70820
                                                (2017 - 2019)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Dr. James McFerson </td>
                                            <td>
                                                Director
                                                Washington State University Research and Extension Center
                                                <br />1100 North Western Avenue
                                                Wenatchee, WA 98801
                                                (2017 - 2019)
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h6>General Public Members</h6>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Information</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>  Dr. Timothy Johnson            </td>
                                            <td>
                                                Seed Bank Manager for Seed Savers Exchange, Inc.
                                                (2015-2018)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>  Terry Williams          </td>
                                            <td>
                                                Fisheries and Natural Resources Commissioner for the Tulalip Tribes.
                                                (2nd Term, 2015-2017)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>   Dr. Sarada Krishnan          </td>
                                            <td>
                                                Director of Horticulture and Center for Global Initiatives
                                                <br />Denver Botanic Gardens
                                                909 York Street
                                                Denver, CO 80206
                                                (2017 -2019)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>             </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>             </td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h6>Ex-Officio Members</h6>
                                <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Information</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>    Dr. Peter Bretting         </td>
                                        <td>
                                            National Program Leader
                                            Office of National Programs, for the
                                            USDA - Agricultural Research Service.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>             </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>    Dr. Ernest Moniz (or) Designee         </td>
                                        <td>Secretary of Energy.</td>
                                    </tr>
                                    <tr>
                                        <td>      Dr. Francis Collins (or) Designee       </td>
                                        <td>Director of the National Institute of Health.</td>
                                    </tr>
                                    <tr>
                                        <td>    Dr. John Holdren (or) Designee         </td>
                                        <td>Director of the Office of Science and Technology Policy.</td>
                                    </tr>
                                    <tr>
                                        <td>     Dr. Simon Liu (or) Designee        </td>
                                        <td>Director of the National Agricultural Library.</td>
                                    </tr>
                                    <tr>
                                        <td> Dr. Gary Pederson            </td>
                                        <td>
                                            Supervisory Geneticist
                                            Plant Genetic Resources Conservation Unit, for the USDA-ARS.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>   Dr. France A. Cordova (or) Designee         </td>
                                        <td> Director of the National Science Foundation.</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Catherine Woteki (or) Designee</td>
                                        <td>Under Secretary for the USDA Research, Education, and Economics Mission Areaand the USDA Chief Scientist.</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary" id="nested165886">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionCity" href="#collapse165886" style="color:white;">
                                Farm Bill
                            </a>
                        </h4>
                    </div>

                    <div id="collapse165886" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="accordion-sub-heading">
                                <p>
                                    The Farm Bill specifies the establishment, purpose, and functions of the NGRP, the appointment and authority of the NGRP Director,
                                    and the original establishment of the Advisory Council.
                                    <ul>
                                        <li>
                                            <a href="https://www.agriculture.senate.gov/imo/media/doc/101-624.pdf">
                                                101-624 - Food, Agriculture, Conservation, and Trade Act of 1990
                                            </a></li>
                                    </ul>
                                </p>
                            </div>
                            <div style="padding:15px; font-family:'Times New Roman';">
                               
                            <P style="text-align:center;">
                                <strong>
                                    Appendix I <BR>
                                    104 STAT.3744 <BR>
                                    Public Law 101-624-Nov. 28, 1990 <BR>
                                    Title XVI
                                </strong>
                            </P>
                            

                            <H3 ALIGN="CENTER">Subtitle C--National Genetic Resources Program </H3>
                            <H4 ALIGN="LEFT">
                                7 USC 5841. <BR>
                                SEC. 1632. Establishment, Purpose, and Functions of the National Genetic
                                Resources Program
                            </H4>
                            <P ALIGN="LEFT">
                                (a) IN GENERAL.--The Secretary of Agriculture shall provide for
                                a National Genetic Resources Program.<BR>
                                (b) PURPOSE.--The program is established for the purpose of maintaining and
                                enhancing a program providing for the collection, preservation, and
                                dissemination of genetic material of importance to American food and
                                agriculture production. <BR>
                                (c) ADMINISTRATION.--The program shall be administered by the Secretary through
                                the Agricultural Research Service. <BR>
                                (d) FUNCTIONS.--The Secretary, acting through the program, shall--
                            </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) provide for the collection, classification,
                                    preservation, and dissemination of genetic material of importance to the food
                                    and agriculture sectors of the United States; <BR>
                                    (2) conduct research on the genetic materials collected and on methods for
                                    storage and preservation of those materials; <BR>

                                    (3) coordinate the activities of the program with similar activities occurring
                                    domestically; <BR>
                                    (4) unless otherwise prohibited by law, have the right to make available upon
                                    request, without charge and without regard to the country from which such
                                    request originates, the genetic material which the program assembles; <BR>
                                    (5) expand the types of genetic resources included in the program to develop a
                                    comprehensive genetic resources program which includes plants (including
                                    silvicultural species), animal, aquatic, insect, microbiological, and other
                                    types of genetic resources of importance to food and agriculture, as resources
                                    permit; and <BR>
                                    (6) engage in such other activities as the Secretary determines appropriate and
                                    as the resources of the program permit.
                                </P>
                            </BLOCKQUOTE>
                            <H3 ALIGN="LEFT">
                                7 USC 5842.<BR>
                                SEC.1633. Appointment and Authority of Director
                            </H3>
                            <P ALIGN="LEFT">
                                (a)DIRECTOR.--There shall be at the head of the program an
                                official to be known as the Director of the National Genetic Resources Program
                                who shall be appointed by the Secretary. The Director shall perform such duties
                                as are assigned to the Director by this subtitle and such other duties as the
                                Secretary may prescribe. 
                            </P>
                            <P ALIGN="LEFT">
                                (b) ADMINISTRATIVE AUTHORITY.--In carrying out this subtitle,
                                the Secretary, acting through the Director--
                            </P>

                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) shall be responsible for the overall direction
                                    of the program and for the establishment and implementation of general policies
                                    respecting the management and operation of activities within the program; <BR>
                                    (2) may secure for the program consultation services and advice of persons from
                                    the United States and abroad; <BR>
                                    (3) may accept voluntary and uncompensated services; and <BR>
                                    (4) may perform such other administrative functions as the Secretary determines
                                    are needed to effectively carry out this subtitle.
                                </P>
                            </BLOCKQUOTE>
                            <P ALIGN="LEFT">(c) DUTIES.--The Director shall-- </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) advise participants on the program activities;
                                    <BR>
                                    (2) coordinate, review and facilitate the systematic identification and
                                    evaluation of, relevant information generated under the program; <BR>
                                    (3) promote the effective transfer of the information described in paragraph
                                    (2) to the agriculture and food production community and to entities that
                                    require such information; and <BR>

                                    (4) monitor the effectiveness of the activities described in paragraph (3).
                                </P>
                            </BLOCKQUOTE>
                            <P ALIGN="LEFT">
                                (d) BIENNIAL REPORTS.--The Director shall prepare and transmit
                                to the Secretary and to the Congress a biennial report containing--
                            </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) a description of the activities carried out by
                                    and through the program and the policies of the program, and such
                                    recommendations respecting such activities and policies as the Director
                                    considers to be appropriate; <BR>
                                    (2) a description of the necessity for, and progress achieved toward providing,
                                    additional programs and activities designed to include the range of genetic
                                    resources described in section 1632(d)(5) in the activities of the program; and
                                    <BR>
                                    (3) an assessment of events and activities occurring internationally as they
                                    relate to the activities and policies of the program.
                                </P>
                            </BLOCKQUOTE>
                            <P ALIGN="LEFT">
                                (e) INITIAL REPORTS.--Not later than one year after the date of
                                the enactment of this Act, the Director shall transmit to the Secretary and to
                                the Congress a report--
                            </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) describing the projected needs over a 10-year
                                    period in each of the areas of genetic resources described in section
                                    1632(d)(5), including the identification of existing components of a
                                    comprehensive program, policies and activities needed to coordinate those
                                    components, and additional elements not in existence which are required for the
                                    development of a comprehensive genetic resources program as described in such
                                    section; <BR>
                                    (2) assessing the international efforts and activities related to the program,
                                    and their effect upon and coordination with the program; and <BR>

                                    (3) evaluating the potential effect of various national laws, including
                                    national quarantine requirements, as well as treaties, agreements, and the
                                    activities of international organizations on the development of a comprehensive
                                    international system for the collection and maintenance of genetic resources of
                                    importance to agriculture. 
                                </P>
                            </BLOCKQUOTE>
                            <H3 ALIGN="LEFT">SEC. 1634 Advisory Council 7 USC 5843. </H3>
                            <P ALIGN="LEFT">
                                (a) ESTABLISHMENT AND MEMBERSHIP.--The Secretary shall
                                establish an advisory council for the program for the purpose of advising,
                                assisting, consulting with, and making recommendations to, the Secretary and
                                Director concerning matters related to the activities, policies and operations
                                of the program. The advisory council shall consist of ex officio members and
                                not more than nine members appointed by the Secretary.
                            </P>
                            <P ALIGN="LEFT">
                                (b) EX OFFICIO MEMBERS.--The ex officio members of the advisory
                                council shall consist of the following persons (or their designees):
                            </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) The Director. <BR>
                                    (2) The Assistant Secretary of Agriculture for Science and Education. <BR>
                                    (3) The Director of the National Agricultural Library. <BR>
                                    (4) The Director of the National Institutes of Health. <BR>

                                    (5) The Director of the National Science Foundation. <BR>
                                    (6) The Secretary of Energy. <BR>
                                    (7) The Director of the Office of Science and Technology Policy. <BR>
                                    (8) Such additional officers and employees of the United States as the
                                    Secretary determines are necessary for the advisory council to effectively
                                    carry out its functions.
                                </P>
                            </BLOCKQUOTE>
                            <P ALIGN="LEFT">
                                (c) APPOINTMENT OF OTHER MEMBERS.--The members of the advisory
                                council who are not ex officio members shall be appointed by the Secretary as
                                follows:
                            </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) Two-thirds of the members shall be appointed
                                    from among the leading representatives of the scientific disciplines relevant
                                    to the activities of the program, including agricultural sciences,
                                    environmental sciences, natural resource sciences, health sciences, and
                                    nutritional sciences. <BR>
                                    (2) One-third of the members shall be appointed from the general public and
                                    shall include leaders in fields of public policy, trade, international
                                    development, law, or management.
                                </P>
                            </BLOCKQUOTE>
                            <P ALIGN="LEFT">
                                (d) COMPENSATION.--Members of the advisory council shall serve
                                without compensation, if not otherwise officers or employees of the United
                                States, except that they shall, while away from their homes or regular places
                                of business in the performance of services for the advisory council, be allowed
                                travel expenses, including per diem in lieu of subsistence, in the same manner
                                as persons employed intermittently in the Government service are allowed
                                expenses under sections 5701 through 5707 of title 5, United States Code.
                            </P>

                            <P ALIGN="LEFT">(e) TERM OF OFFICE OF APPOINTEES; VACANCIES.-- </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) TERM.--The term of office of a member appointed
                                    under subsection (c) is four years, except that any member appointed to fill a
                                    vacancy occurring before the expiration of the term for which the predecessor
                                    of such member was appointed shall be appointed only for the remainder of such
                                    term. <BR>
                                    (2) INITIAL APPOINTMENT.--The Secretary shall make appointments to the advisory
                                    council so as to ensure that the terms of the members appointed under
                                    subsection (c) do not all expire in the same year. A member may serve after the
                                    expiration of the member's term until a successor takes office.  <BR>
                                    (3) REAPPOINTMENT.--A member who is appointed for a term of four years may not
                                    be reappointed to the advisory council before two years after the date of
                                    expiration of such term of office. <BR>
                                    (4) VACANCIES.--If a vacancy occurs in the advisory council among the members
                                    appointed under subsection (c), the Secretary shall make an appointment to fill
                                    such vacancy within 90 days after the date such vacancy occurs.
                                </P>
                            </BLOCKQUOTE>
                            <P ALIGN="LEFT">
                                (f) CHAIR.--The Secretary shall select as the chair of the
                                advisory council one of the members appointed under subsection (c). The term of
                                office of the chair shall be two years.
                            </P>
                            <P ALIGN="LEFT">
                                (g) MEETINGS.--The advisory council shall meet at the call of
                                the chair or on the request of the Director, but at least two times each fiscal
                                year. The location of the meetings of the advisory council shall be subject to
                                the approval of the Director.
                            </P>
                            <P ALIGN="LEFT">
                                (h) STAFF.--The Director shall make available to the advisory
                                council such staff, information, and other assistance as it may require to
                                carry out its functions.
                            </P>

                            <P ALIGN="LEFT">
                                (i) ORIENTATION AND TRAINING.--The Director shall provide such
                                orientation and training for new members of the advisory council as may be
                                appropriate for their effective participation in the functions of the advisory
                                council.
                            </P>
                            <P ALIGN="LEFT">
                                (j) COMMENTS AND RECOMMENDATIONS.--The advisory council may
                                prepare, for inclusion in a report submitted under section 1633--
                            </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) comments respecting the activities of the
                                    advisory council during the period covered by the report; <BR>
                                    (2) comments on the progress of the program in meeting its objectives; and <BR>
                                    (3) recommendations respecting the future directions, program, and policy
                                    emphasis of the program.
                                </P>
                            </BLOCKQUOTE>
                            <P ALIGN="LEFT">
                                (k) REPORTS.--The advisory council may prepare such reports as
                                the advisory council determines to be appropriate.
                            </P>
                            <P ALIGN="LEFT">
                                (l) APPLICATION OF ADVISORY COMMITTEE ACT.--Section 14(a) of
                                the Federal Advisory Committee Act (5 U.S.C. App.) relating to the termination
                                of an advisory committee shall not apply to the advisory committee established
                                under this section.
                            </P>
                            <H3 ALIGN="LEFT">
                                SEC.1635 Definitions and Authorization of Appropriations 7 USC
                                5844.
                            </H3>

                            <P ALIGN="LEFT">
                                (a) DEFINITIONS.--For purposes of this subtitle:
                            </P>
                            <BLOCKQUOTE>
                                <P ALIGN="LEFT">
                                    (1) The term &quot;program&quot; means the National
                                    Genetic Resources Program. <BR>
                                    (2) The term &quot;Secretary&quot; means the Secretary of Agriculture. <BR>
                                    (3) The term &quot;Director&quot; means the Director of the National Genetic
                                    Resources Program.
                            </BLOCKQUOTE></p>

                            <p>
                                (b) AUTHORIZATION OF APPROPRIATIONS.--There are authorized
                                to be appropriated such funds as may be necessary to carry out this subtitle
                                for each of the fiscal years 1991 through 2002.
                            </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>

    </main>

