
@{
    ViewBag.Title = "NGODirectory";
}

    <main class="usa-grid usa-section usa-content usa-layout-docs">
        <div>
            <a href="https://npgsdev.ars-grin.gov/GRINWeb">GRIN Home</a> | NGO Directory
        </div>

        <div style="clear:both;">
            <hr />
        </div>

        <div class="usa-width-one-whole">
            <h3>NGO Directory</h3>

            <ul class="usa-accordion-bordered">
            <li>
                <button id="button-20360200"
                        class="usa-accordion-button"
                        aria-expanded="false"
                        aria-controls="control-20360200">
                    U.S. Organizations
                </button>
                <div id="control-20360200" class="usa-accordion-content">
                    <ul>
                        <li>
                            <a href="http://www.publicgardens.org/">American Public Gardens Association</a>
                            (APGA), Delaware (external link)
                        </li>
                        <li>
                            <a href="http://www.mobot.org/CPC">
                                Center For Plant Conservation
                            </a>
                            (CPC), St. Louis, Missouri (external link)
                        </li>
                        <li>
                            <a href="http://www.ars.usda.gov/main/site_main.htm?modecode=36551000">
                                Cereal Crops Research Unit
                            </a>, Madison, Wisconsin
                        </li>
                        <li>
                            <a href="http://www.maizegdb.org">
                                Maize Genetics and Genomics Database (MaizeGDB)
                            </a> (external link)
                        </li>
                        <li>
                            <a href="https://publicgardens.org/program/plant-collections-network?page=2">
                                North American Plants Collections Consortium
                            </a> (NAPCC) (External link)
                        </li>
                        <li>
                            <a href="http://www.crfg.org/">
                                California Rare Fruit Growers, Inc.
                            </a> (external link)
                        </li>
                        <li>
                            <a href="https://forages.oregonstate.edu/">
                                Forage Information system
                            </a> (external link)
                        </li>
                        <li>
                            <a href="http://www.public.iastate.edu/%7Eusda-gem/">
                                Germplasm Enhancement of Maize
                            </a> (GEM)(external link)
                        </li>
                        <li>
                            <a href="http://wheat.pw.usda.gov/">
                                Grains Genome Database (GrainGenes)
                            </a>
                        </li>
                        <li>
                            <a href="http://www.gramene.org/">
                                GRAMENE: A Resource for Comparative Grass Genomics
                            </a>
                        </li>
                        <li>
                            <a href="http://nativeseeds.org/">
                                Native Seeds/SEARCH
                            </a>
                        </li>
                        <li>
                            <a href="http://horticulture.oregonstate.edu/content/nw-berry-grape-information-network/">
                                Northwest Berry and Grape Infonet
                            </a>, Oregon (external link)
                        </li>
                        <li>
                            <a href="https://www.blm.gov/programs/natural-resources/native-plant-communities/national-seed-strategy/pca">
                                Plant Conservation Alliance
                            </a> (external link)
                        </li>
                        <li>
                            <a href="http://plants.usda.gov/">
                                Plants Database
                            </a>, USDA, Natural Resources Conservation Service
                        </li>
                        <li>
                            <a href="http://www.seedsavers.org/">
                                Seed Savers Exchange
                            </a> (external link)
                        </li>
                        <li>
                            <a href="http://www.blm.gov/sos">
                                Seeds of Success
                            </a>
                        </li>
                        <li>
                            <a href="https://solgenomics.net/solanaceae-project/index.pl">
                                Solanaceae Genome Database
                            </a> (external link)
                        </li>
                        <li>
                            <a href="http://soybase.org">
                                Soybean Genome Database (SoyBase)
                            </a> (external link)
                        </li>
                        <li>
                            <a href="http://www.oecd.org/agriculture/code/oecdlistofvarietieseligibleforcertification-onlineversion.htm">
                                US Cultivars Eligible for OECD Certification
                            </a>
                            (<a href="http://www.oecd.org/">OECD</a> data maintained by ARS)
                        </li>
                        <li>
                            <a href="http://www.usna.usda.gov/">
                                US National Arboretum
                            </a>
                        </li>
                        <li>
                            <a href="http://www.cloud.ars-grin.gov/misc/wgftip/index.html">
                                Western Gulf Forest Tree Improvement Program
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <button id="button-20361000"
                        class="usa-accordion-button"
                        aria-expanded="false"
                        aria-controls="control-20361000">
                    International Organizations
                </button>

                <div id="control-20361000" class="usa-accordion-content">


                    <ul>
                        <li>
                            <a href="http://www.avrdc.org/">
                                Asian Vegetable Research and Development Center
                            </a>, (AVRDC), Shanhua, Taiwan (external link)
                        </li>
                        <li>
                            <a href="http://www.bioversityinternational.org/">
                                Bioversity International
                            </a> (formerly IPGRI), Rome, Italy (external link)
                        </li>
                        <li>
                            <a href="http://www.catie.ac.cr/">
                                Tropical Agricultural Research and Higher Education Center
                            </a> (CATIE), Costa Rica (external link)
                        </li>
                        <li>
                            <a href="http://www.genebank.nl/">
                                Centre for Genetic Resources
                            </a>, The Netherlands (CGN) (external link)
                        </li>
                        <li>
                            <a href="http://www.cimmyt.org/">
                                Centro Internacional de Mejoramiento de Ma&iacute;z y Trigo
                            </a> (CIMMYT), Mexico (external link)
                        </li>
                        <li>
                            <a href="http://www.cgris.net/cgris_english.html">
                                Chinese Crop Germplasm Resources
                            </a>, Beijing, China (external link)
                        </li>
                        <li>
                            <a href="http://www.unifi.it/project/ueresgen29/Welcome.html">
                                Conservation, Evaluation, Exploitation and Collection of Minor Fruit Tree Species
                            </a>, European Community Project (external link)
                        </li>
                        <li>
                            The <a href="http://www.cgiar.org/">
                                Consultative Group on International Agricultural Research
                            </a> (CGIAR) (external link)
                        </li>
                        <li>
                            <a href="https://www.genesys-pgr.org/welcome">
                                Genesys
                            </a> (external link)
                        </li>
                        <li>
                            <a href="https://www.croptrust.org/">
                                Global Crop Diversity Trust
                            </a> (external link)
                        </li>
                        <li>
                            <a href="http://www.inbio.ac.cr/">
                                Instituto Nacional de Biodiversidad
                            </a> (INBio), Costa Rica (external link)
                        </li>
                        <li>
                            <a href="http://www.icarda.cgiar.org/">
                                International Center for Agricultural Research in the Dry Areas
                            </a> (ICARDA), Aleppo, Syria (external link)
                        </li>
                        <li>
                            <a href="http://www.ciat.cgiar.org/">
                                International Center for Tropical Agriculture
                            </a>, (CIAT) Cali, Colombia (external link)
                        </li>
                        <li>
                            <a href="http://www.icrisat.org/">
                                International Crops Research Institute for the Semi-Arid Tropics
                            </a> (ICRISAT), Patancheru, India (external link)
                        </li>
                        <li>
                            <a href="http://www.iita.org/">
                                International Institute of Tropical Agriculture
                            </a> (IITA), Ibadan, Nigeria (external link)
                        </li>
                        <li>
                            <a href="https://ecpgr.cgn.wur.nl/lvintro/">
                                International Leafy Vegetable databases
                            </a> (ECPGR) (external link)
                        </li>
                        <li>
                            <a href="http://www.cipotato.org/">
                                International Potato Center
                            </a> (CIP), Lima, Peru (external link)
                        </li>
                        <li>
                            <a href="http://www.irri.org/">
                                International Rice Research Institute
                            </a> (IRRI), Los Banos, Philippines (external link)
                        </li>
                        <li>
                            <a href="http://www.actahort.org/books/413/413_1.htm">
                                International Registration Authorities
                            </a> (IRAs) (external link)
                        </li>
                        <li>
                            <a href="http://www.kew.org/">
                                Kew Gardens, London
                            </a>  (external link)
                        </li>
                        <li>
                            <a href="http://www.gene.affrc.go.jp/index.html">
                                Ministry of Agriculture, Forestry and Fisheries Genebank
                            </a>, Japan (external link)
                        </li>
                        <li>
                            <a href="http://www.nbpgr.ernet.in">
                                National Bureau of Plant Genetic Resources
                            </a> (NBPGR), New Delhi, India (external link)
                        </li>
                        <li>
                            <a href="http://www.cenargen.embrapa.br/">
                                National Center for Genetic Resources, and Biotechnology Research (CENARGEN) of the Brazilian Organization for Agricultural Research (EMBRAPA)
                            </a>, Brasil (external link)
                        </li>
                        <li>
                            <a href="http://www.inta.gov.ar/">
                                National Research Centre
                            </a>, (INTA) Castelar, Argentina (external link)
                        </li>
                        <li>The <a href="http://www.nordgen.org/ngb/">Nordic Gene Bank</a>, Alnarp, Sweden (external link)</li>
                        <li>
                            <a href="http://pgrc3.agr.gc.ca/">
                                Plant Gene Resources of Canada
                            </a>, Saskatoon, Canada (external link)
                        </li>
                        <li>
                            <a href="http://www.cac-biodiversity.org/">
                                Plants Genetic Resources in Central Asia and Caucasus
                            </a> (external link)
                        </li>
                        <li>
                            <a href="https://www.procinorte.net/">
                                Procinorte
                            </a> (external link)
                        </li>
                        <li>
                            <a href="http://www.prosea.nl/">
                                PROSEA
                            </a>, Plant Resources of South-East Asia (external link)
                        </li>
                        <li>
                            The <a href="http://www.vurv.cz/">
                                Research Institute of Crop Production
                            </a>, Czech Republic (external link)
                        </li>
                        <li>
                            <a href="http://www.shigen.nig.ac.jp/rice/oryzabase/">
                                Rice Genetic Resources in Japan
                            </a> (external link)
                        </li>
                        <li>
                            Shared Information of Genetic Resources <a href="http://www.shigen.nig.ac.jp/">
                                SHIGEN
                            </a>, Japan (external link)
                        </li>
                        <li>
                            <a href="http://www.vir.nw.ru/">
                                N.I. Vavilov All-Russian Scientific Research Institute of Plant Industry
                            </a> (VIR), St. Petersburg, Russia (external link)
                        </li>
                        <li>
                            <a href="http://www.shigen.nig.ac.jp/wheat/komugi/top/top.jsp">
                                Integrated Wheat Science Database
                            </a>, Japan (external link)
                        </li>
                        <li>
                            <a href="https://www.genres.de/">
                                Information Centre for Genetic Resources (IGR)
                            </a> (ZADI) (external link)
                        </li>
                    </ul>


                </div>
            </li>
        </ul>

        </div>

    </main>
  

  