
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}
<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <nav aria-label="Secondary navigation,,,">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item">
                            <a href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="usa-sidenav__item">
                            <a href="javascript:void(0);" class="usa-current">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <h3>TODO CONFIRM</h3>
            </main>
        </div>
    </div>
</div>
    
