
@{
    ViewBag.Title = "NGRAC";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

<style>
    tr.ngrac-group,
    tr.ngrac-group:hover {
        background-color: yellow !important;
    }

    .dataTable > thead > tr > th[class*="sort"]::after {
        display: none;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc,
    table.dataTable thead .sorting_asc_disabled,
    table.dataTable thead .sorting_desc_disabled {
        background-image: none !important;
    }

    thead {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
</style>

<div class="usa-overlay"></div>
@Html.Partial("~/Views/Shared/_Banner.cshtml")
@Html.Partial("~/Views/Shared/_Breadcrumbs.cshtml")


<main id="main-content" class="usa-section usa-content usa-layout-docs with-breadcrumb with-sidebar with-hero">
    <div id="block-usda-page-title" class="usda-block usda-page-title-block usda-page-title-block-with-hero">
        <h1 class="usda-page-title usda-page-title-with-hero"><span class="usda-page-title--main">GRIN </span><span class="usda-page-title--sub">NGRAC</span></h1>
    </div>
    <div class="usa-layout-docs-main_content">
        <aside class="usa-layout-docs-sidenav">
            @Html.Partial("~/Views/Shared/_LeftNavSearch.cshtml")
            @Html.Partial("~/Views/Shared/_LeftNavNGRAC.cshtml")
        </aside>
        <div id="block-usda-content" class="usda-block block-usda-content">
            <div class="usa-table-wrapper">
                <div class="section-lead-paragraph">
                    <h3 id="section-overview">Overview</h3>
                    The <a href="https://nareeeab.ree.usda.gov/committees/national-genetic-resources-advisory-council">National Genetic Resources Advisory Council (NGRAC)</a> advises and makes recommendations to the USDA Secretary and the 
                    Director of the National Genetic Resources Program (NGRP) on matters related to the activities, policies and operations of the NGRP. 
                    The NGRAC is a committee of the <a href="https://nareeeab.ree.usda.gov/">National Agricultural Research, Extension, Education, and Economics (NAREEE) Advisory Board.</a>
                </div>
                <div class="section-paragraph">
                    The NGRP acquires, characterizes, conserves, documents, and distributes to scientists germplasm of all life forms important for
                    food and agricultural production. The Germplasm Resources Information Network (GRIN) documents these animal, microbial, and plant
                    collections through informational pages, searchable databases, and links to USDA-ARS projects that curate the collections.
                    GRIN is operated by the USDA-ARS National Germplasm Resources Laboratory in Beltsville, MD.
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">

    $(document).ready(function () {
        var groupColumn = 3;
        var table = $('#tbl-ngrac-members').DataTable({
            "columnDefs": [
                { "visible": false, "targets": groupColumn }
            ],
            "order": [[groupColumn, 'desc'], [0, 'asc']],
            "searching": false,
            "columnDefs": [
                { "orderable": false, targets: '_all' }
            ],
            "columnDefs": [
                { 'visible': false, 'targets': [3] }
            ],
            "paging": false,
            "bInfo": false,
            "displayLength": 25,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;

                api.column(groupColumn, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="ngrac-group"><td style="background-color:#0071bc; color:white;" colspan="5">' + group + '</td></tr>'
                        );

                        last = group;
                    }
                });
            }
        });

        // Order by the grouping
        $('#tbl-ngrac-members tbody').on('click', 'tr.group', function () {
            var currentOrder = table.order()[0];
            if (currentOrder[0] === groupColumn && currentOrder[1] === 'asc') {
                table.order([groupColumn, 'desc']).draw();
            }
            else {
                table.order([groupColumn, 'desc']).draw();
            }
        });
    });

</script>
