<ul class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="@Url.Action("GRINU","Pages")"><span>Manage Data</span></a>
    </li>
    <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="@Url.Action("Index","Contact")"><span>Code Values</span></a>
    </li>
</ul>
