<ul class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="extended-nav-section-one"><span>Collections</span></button>
        <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
                @{
                    var link_plants = Url.Action("Index", "Collections") + "#plant-germplasm";
                }
                <a href=@link_plants> Plant Germplasm</a>
            </li>
            <li class="usa-nav__submenu-item">
                @{
                    var link_animals = Url.Action("Index", "Collections") + "#animal-germplasm";
                }
                <a href=@link_animals> Animal Germplasm</a>
            </li>
            <li class="usa-nav__submenu-item">
                @{
                    var link_microbial = Url.Action("Index", "Collections") + "#microbial-germplasm";
                }
                <a href=@link_microbial> Microbial Germplasm</a>
            </li>
            <li class="usa-nav__submenu-item">
                @{
                    var link_pvp = Url.Action("Index", "PVP") + "#pvp-applications";
                }
                <a href=@link_pvp> PVP Applications</a>
            </li>
            <li class="usa-nav__submenu-item">
                @{
                    var link_rhi = Url.Action("Index", "Rhizobium") + "#rhizobium";
                }
                <a href=@link_rhi> Rhizobium</a>
            </li>
        </ul>
    </li>
    <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="extended-nav-section-two"><span>Crop Germplasm Committees</span></button>
        <ul id="extended-nav-section-two" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
                @{
                    var link_cgc = Url.Action("Index", "CGC") + "#overview";
                }
                <a href=@link_cgc> Oveview</a>
            </li>

            <li class="usa-nav__submenu-item">
                @{
                    var link_cgc_directory = Url.Action("Index", "CGC") + "#cgc-directory";
                }
                <a href=@link_cgc_directory> CGC Directory</a>
            </li>
            <li class="usa-nav__submenu-item">
                @{
                    var link_cgc_briefings = Url.Action("Index", "CGC") + "#cgc-annual-cgc-chair-briefings";
                }
                <a href=@link_cgc_directory> Annual CGC Chair Briefings</a>
            </li>
        </ul>
    </li>

    <li class="usa-nav__primary-item">
        @{
            var link_ngrac = Url.Action("NGRAC", "Pages");
        }
        <a href=@link_ngrac>National Genetic Resources Advisory Council (NGRAC)</a>
    </li>
    <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="@Url.Action("GRINU","Pages")"><span>GRIN-U</span></a>
    </li>
    <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="@Url.Action("Index","Contact")"><span>Contact Us</span></a>
    </li>
</ul>
