@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}

<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item"><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li class="usa-sidenav__item">
                            <a href="" class="usa-current">GRIN-U</a>
                        </li>
                        <li class="usa-sidenav__item"><a href="@Url.Action("Index","Contact")">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <p class="usa-intro">
                    GRIN-U is a collaborative project to provide open access to educational and training content on plant genetic resources (PGR) conservation and use.
                </p>
                <p>
                    The project is funded by a grant from the <a class="usa-link" href="https://www.nifa.usda.gov/">
                    USDA National Institute of Food and Agriculture (NIFA)</a>, and includes investigators from ARS, Colorado State University, Iowa State University,
                    and a private contractor.
                </p>
                <p>
                    As part of the GRIN family of products, <a href="https://grin-u.org/">GRIN-U</a> contains visual (videos, virtual tours, podcasts) and printed (e-books, infographics, manuals) materials on a variety of topics related to PGR management and plant genebank operations.
                </p>
            </main>
        </div>
    </div>
</div>
