<!-- HEADER IMAGE -->
<div style="padding: 20px; height: 100px; background: url(/Images/hero-topic-plants_0.jpg) center center / cover;">
    <div id="block-usda-page-title" class="usda-block usda-page-title-block usda-page-title-block-with-hero">
        <h1 class="usda-page-title usda-page-title-with-hero"><span class="usda-page-title--main">Background</span><span class="usda-page-title--sub">API Guide</span></h1>
    </div>
</div>

