<nav id="block-usda-subnavigation" class="usda-block" aria-label="Subnavigation">
    <ul class="usa-accordion-bordered usa-sidenav-list">
        <li>
            <button class="usa-accordion-button" aria-expanded="false" aria-controls="a1"> Page Navigation </button>
            <div id="a1" class="usa-accordion-content">
                <a href="#" class="usa-current is-active">Sections</a>
                <ul class="usa-sidenav-sub_list">
                    <li>
                        <a href="#section-meetings">Meetings</a>
                    </li>
                    <li>
                        <a href="#section-membership">Membership</a>
                    </li>
                    <li>
                        <a href="#section-farm-bill">Farm Bill</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
