<nav id="block-usda-subnavigation" class="usda-block" aria-label="Subnavigation">
    <ul class="usa-accordion-bordered usa-sidenav-list">
        <li>
            <button class="usa-accordion-button" aria-expanded="false" aria-controls="a1"> Page Navigation </button>
            <div id="a1" class="usa-accordion-content">
                <a href="@Url.Action("Search", "PVP")" class="usa-current is-active">
                Search
                </a>
                @*<a href="#" class="usa-current is-active" style="color:darkgray;">
                    Advanced Search
                </a>*@
            </div>
        </li>
    </ul>
    <div class="selector-list" style="padding:15px; overflow-y:scroll; height:500px;">
    </div>
</nav>

<script type="text/javascript">

    // ===============================================================================================
    // On page load, obtain the ID of the first href; display data for that record.
    // ===============================================================================================
    @*var firstNavButtonValue = $("div.selector-list a:first-child").attr("href");
    var url = '@Url.Action("Detail", "PVP")';
     $.post(url, { pVPCropDesc: firstNavButtonValue })
        .done(function (response) {
        $("#section-detail").html(response);
        });

    $(".dataset-selector").click(function () {

        var value = $(this).attr("href");
        event.preventDefault();

        var url = '@Url.Action("Detail", "PVP")';

        $.post(url, { pVPCropDesc: value })
        .done(function (response) {
        $("#section-detail").html(response);
        });
    });*@
</script>