<form class="usa-search usa-search-small js-search-form" action="fdc-app.html" onsubmit="location.href='https://npgsweb.ars-grin.gov/gringlobal/search.aspx?q=' + encodeURI(this.query.value); return false;">
    <div role="search">
        <input name="utf8" value="✓" type="hidden">
        <input id="affiliate" name="affiliate" value="usda" type="hidden">
        <label for="header-search">GRIN-Global Search</label>
        <input id="header-search" autocomplete="off" accesskey="i" name="query" type="search" placeholder="">
        <button type="submit">
            <span class="usa-sr-only">Search</span>
        </button>
       
    </div>






</form>

