<nav id="block-usda-subnavigation" class="usda-block" aria-label="Subnavigation">
    <ul class="usa-accordion-bordered usa-sidenav-list">
        <li>
            <button class="usa-accordion-button" aria-expanded="false" aria-controls="a1"> Page Navigation </button>
            <div id="a1" class="usa-accordion-content">
                <a href="#bkmk-db" class="usa-current is-active">Genetic Resource Collections</a>
                <ul class="usa-sidenav-sub_list">
                    <li>
                        <a href="#bkmk-1">Plant Germplasm</a>
                    </li>
                    <li>
                        <a href="#bkmk-2">Animal Germplasm</a>
                    </li>
                    <li>
                        <a href="#bkmk-3">Microbial Germplasm</a>
                    </li>
                    @*<li>
                        <a href="#bkmk-4">Invertebrate Germplasm</a>
                    </li>*@
                </ul>

                <a href="#bkmk-ds" class="usa-current">GRIN Collections</a>
                <ul class="usa-sidenav-sub_list">
                    <li>
                        <a href="@Url.Action("Index","Rhizobium")">Rhizobium Collection</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","PVP")">PVP Applications</a>
                    </li>
                </ul>

                @*<a href="#" class="usa-current">Other Resources</a>
                <ul class="usa-sidenav-sub_list">
                    <li>
                        <a href="https://nrrc.ars.usda.gov/A-GRIN/tax_inv_drilldown_page_dev?language=EN&record_source=US">Animal GRIN</a>
                    </li>
                    <li>
                        <a href="https://nrrl.ncaur.usda.gov/">ARS Culture Collection</a>
                    </li>
                    <li>
                        <a href="https://nt.ars-grin.gov/fungaldatabases/specimens/specimens.cfm">U.S. National Fungal Collection</a>
                    </li>
                </ul>*@
            </div>
        </li>
    </ul>
</nav>
