<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    <div id="block-usda-page-title" class="usda-block usda-page-title-block usda-page-title-block-with-hero">
        <h1 class="usda-page-title usda-page-title-with-hero"><span class="usda-page-title--main">GRIN </span><span class="usda-page-title--sub">Repositories</span></h1>
    </div>
    <div class="usa-layout-docs-main_content">
        
        <div id="block-usda-content" class="usda-block block-usda-content">
            <div class="usa-table-wrapper">
                <div class="usa-width-one-third">
                    <img src="~/Images/download.png" style="margin:20px;"></img>
                </div>
                <div class="usa-width-two-thirds">
                    <hgroup>
                        <h1>An Error Has Occurred</h1>
                        <h2 style="margin:0px;">We're sorry!</h2>
                        A system error has occurred, and an administrator has been notified. We apologize for the inconvenience.
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
