USE [gringlobal]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[crop_germplasm_committee_document]') AND type in (N'U'))
ALTER TABLE [dbo].[crop_germplasm_committee_document] DROP CONSTRAINT IF EXISTS [DF_crop_germplasm_committee_document_modified_date]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[crop_germplasm_committee_document]') AND type in (N'U'))
ALTER TABLE [dbo].[crop_germplasm_committee_document] DROP CONSTRAINT IF EXISTS [DF_crop_germplasm_committee_document_created_date]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee_meeting]    Script Date: 9/8/2020 12:58:45 PM ******/
DROP TABLE IF EXISTS [dbo].[crop_germplasm_committee_meeting]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee_document]    Script Date: 9/8/2020 12:58:45 PM ******/
DROP TABLE IF EXISTS [dbo].[crop_germplasm_committee_document]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee_crop_descriptor]    Script Date: 9/8/2020 12:58:45 PM ******/
DROP TABLE IF EXISTS [dbo].[crop_germplasm_committee_crop_descriptor]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee]    Script Date: 9/8/2020 12:58:45 PM ******/
DROP TABLE IF EXISTS [dbo].[crop_germplasm_committee]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee]    Script Date: 9/8/2020 12:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crop_germplasm_committee](
	[crop_germplasm_committee_id] [int] IDENTITY(1,1) NOT NULL,
	[crop_germplasm_committee_name] [nvarchar](80) NOT NULL,
	[roster_url] [varchar](120) NULL,
	[created_date] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[modified_date] [datetime2](7) NULL,
	[modified_by] [int] NULL,
 CONSTRAINT [PK_crop_germplasm_committee] PRIMARY KEY CLUSTERED 
(
	[crop_germplasm_committee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee_crop_descriptor]    Script Date: 9/8/2020 12:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crop_germplasm_committee_crop_descriptor](
	[crop_germplasm_committee_id] [int] NOT NULL,
	[crop_id] [int] NOT NULL,
 CONSTRAINT [PK_crop_germplasm_committee_crop_descriptor] PRIMARY KEY CLUSTERED 
(
	[crop_germplasm_committee_id] ASC,
	[crop_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee_document]    Script Date: 9/8/2020 12:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crop_germplasm_committee_document](
	[crop_germplasm_committee_document_id] [int] IDENTITY(1,1) NOT NULL,
	[crop_germplasm_committee_id] [int] NULL,
	[url] [nvarchar](120) NOT NULL,
	[created_date] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[modified_date] [datetime2](7) NULL,
	[modified_by] [int] NULL,
	[title] [varchar](250) NULL,
 CONSTRAINT [PK_document] PRIMARY KEY CLUSTERED 
(
	[crop_germplasm_committee_document_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[crop_germplasm_committee_meeting]    Script Date: 9/8/2020 12:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crop_germplasm_committee_meeting](
	[crop_germplasm_committee_meeting_id] [int] IDENTITY(1,1) NOT NULL,
	[crop_germplasm_committee_id] [int] NOT NULL,
	[title] [nvarchar](80) NOT NULL,
	[url] [varchar](120) NULL,
	[created_date] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[modified_date] [datetime2](7) NULL,
	[modified_by] [int] NULL,
 CONSTRAINT [PK_crop_germplasm_committee_meeting] PRIMARY KEY CLUSTERED 
(
	[crop_germplasm_committee_meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[crop_germplasm_committee] ON 
GO
INSERT [dbo].[crop_germplasm_committee] ([crop_germplasm_committee_id], [crop_germplasm_committee_name], [roster_url], [created_date], [created_by], [modified_date], [modified_by]) VALUES (1, N'Alfalfa', N'https://drive.google.com/open?id=1VLnqifKeMqX66Cbu9TvbNIt0GATV2d9PJKdv2gXIcRk', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[crop_germplasm_committee] ([crop_germplasm_committee_id], [crop_germplasm_committee_name], [roster_url], [created_date], [created_by], [modified_date], [modified_by]) VALUES (2, N'Apple', N'https://drive.google.com/open?id=1MCZBKld0E5nNJPH2m2RExS-OeKkjjTGjD0AMIyzLwCo', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[crop_germplasm_committee] ([crop_germplasm_committee_id], [crop_germplasm_committee_name], [roster_url], [created_date], [created_by], [modified_date], [modified_by]) VALUES (3, N'Barley', N'https://drive.google.com/open?id=1_3CjZbO48N4sY4_vjsOefDp91UgUWjJ123DLulxyFWM', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[crop_germplasm_committee] OFF
GO
INSERT [dbo].[crop_germplasm_committee_crop_descriptor] ([crop_germplasm_committee_id], [crop_id]) VALUES (1, 68)
GO
INSERT [dbo].[crop_germplasm_committee_crop_descriptor] ([crop_germplasm_committee_id], [crop_id]) VALUES (2, 115)
GO
INSERT [dbo].[crop_germplasm_committee_crop_descriptor] ([crop_germplasm_committee_id], [crop_id]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[crop_germplasm_committee_document] ON 
GO
INSERT [dbo].[crop_germplasm_committee_document] ([crop_germplasm_committee_document_id], [crop_germplasm_committee_id], [url], [created_date], [created_by], [modified_date], [modified_by], [title]) VALUES (1, 6, N'https://www.ars-grin.gov/npgs/cgc_reports/2016_grass_and_clover_meeting_minutes_corrected2017.pdf', NULL, NULL, NULL, NULL, N'2016 - Forage & Turf Grass / Clover & Special Purpose Legume - Combined CGCs Minutes (Corrected, 2017)')
GO
INSERT [dbo].[crop_germplasm_committee_document] ([crop_germplasm_committee_document_id], [crop_germplasm_committee_id], [url], [created_date], [created_by], [modified_date], [modified_by], [title]) VALUES (2, 1, N'https://www.ars-grin.gov/npgs/cgc_reports/alfalfa/alfalfacgc2000.htm', NULL, NULL, NULL, NULL, N'2000 - Medicago Crop Vulnerability Statement')
GO
INSERT [dbo].[crop_germplasm_committee_document] ([crop_germplasm_committee_document_id], [crop_germplasm_committee_id], [url], [created_date], [created_by], [modified_date], [modified_by], [title]) VALUES (3, 1, N'https://www.ars-grin.gov/npgs/cgc_reports/alfalfa_cgc_minutes_2018.pdf', NULL, NULL, NULL, NULL, N'2018 - Alfalfa CGC Minutes')
GO
SET IDENTITY_INSERT [dbo].[crop_germplasm_committee_document] OFF
GO
ALTER TABLE [dbo].[crop_germplasm_committee_document] ADD  CONSTRAINT [DF_crop_germplasm_committee_document_created_date]  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[crop_germplasm_committee_document] ADD  CONSTRAINT [DF_crop_germplasm_committee_document_modified_date]  DEFAULT (getdate()) FOR [modified_date]
GO
