<div id="myModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <span id="site-name">Natl. Germplasm Repository</span>
                </h3>

            </div>
            <div class="modal-body">

                @*<div class="usa-collection__body">
                    <ul class="usa-collection__meta" aria-label="More information">
                        <li class="usa-collection__meta-item">
                            <time datetime="2020-09-17T12:00:00+01:00">
                                September 17, 2020
                            </time>
                        </li>
                    </ul>


                </div>*@

                National Germplasm Repository<br />
                Pecan Research<br />
                10200 FM50<br />
                Somerville, Texas 77879
                <br /><br />
                <label>Crops Maintained at Site</label>
                <ul class="usa-collection__meta" aria-label="Topics">
                    <li class="usa-collection__meta-item usa-tag usa-tag--big">
                        BUTTFRUIT
                    </li>
                    <li class="usa-collection__meta-item usa-tag">
                        CAP goal
                    </li>
                    <li class="usa-collection__meta-item usa-tag">
                        APG
                    </li>
                    <li class="usa-collection__meta-item usa-tag">
                        PMA
                    </li>
                    <li class="usa-collection__meta-item usa-tag">
                        Success story
                    </li>
                </ul>

            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
