@model USDA.ARS.GRIN.Web.ViewModelLayer.SiteViewModel

<div class="usa-accordion usa-accordion--bordered margin-top-5" style="width:850px;">
    <h4 class="usa-accordion__heading">
        <button type="button"
                class="usa-accordion__button"
                aria-expanded="false"
                aria-controls="b-a2">
            Repositories
        </button>
    </h4>
    <div id="b-a2" class="usa-accordion__content usa-prose">
        <table id="data_table_site" class="usa-table usa-table--borderless usa-table--striped" style="width:100%;">
            <thead>
                <tr>
                    <th scope="col">Site Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Contact E</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.DataCollection)
                {
                    <tr>
                        <th scope="row">
                            <a href="">@result.LongName</a>
                        </th>
                        <th scope="row">
                            @result.City
                        </th>
                        <th scope="row">
                            @result.State
                        </th>
                        <th scope="row">
                            @result.EmailAddress
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
 </div>  
<script type="text/javascript">
    $(document).ready(function () {
        if (!$.fn.dataTable.isDataTable('#data_table_site')) {
            InitDataTable("data_table_site");
        }
    });
</script>
