<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
        <li>@Html.ActionLink("About", "About", "CGC")</li>
        <li><a href="https://www.ars-grin.gov/npgs/cgc_reports/cgcrole.doc">Charter (.doc)</a></li>
        <li>@Html.ActionLink("Meeting Dates and Locations", "Meetings", "CGC")</li>
        <li>@Html.ActionLink("CGC Directory", "Directory", "CGC")</li>
        <li><a href="https://www.ars-grin.gov/npgs/cgc_reports/Crop_Vulnerability_Statement_Outline.doc">CVS Template (.doc)</a></li>
    </ul>
</aside>
