<section class="usa-hero" aria-label="Introduction" style="background-image:url('../assets/images/hero-topic-plants_0.jpg');">
    <div class="grid-container">
        <div class="usa-hero__callout">
            <h1 class="usa-hero__heading">
                <span class="usa-hero__heading--alt">GRIN-Global:</span>Empowering and equipping global crop diversity
            </h1>
            <p>Search <strong>597,245</strong> accessions</p>
            <script async src="https://cse.google.com/cse.js?cx=533d8474c4ad5beaf"></script>
            <section aria-label="Default search component">
                <form class="usa-search " role="search">
                    <label class="usa-sr-only" for="search-field">Search</label>
                    <input class="usa-input" id="search-field" type="search" name="search">
                    <button class="usa-button" type="submit">
                        <span class="usa-search__submit-text">Search</span>
                    </button>
                </form>
            </section>
        </div>

    </div>
</section>
<section class="grid-container usa-section">

    <div class="grid-row grid-gap">




        <div class="tablet:grid-col-4">
            <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">What is GRIN?</h2>
        </div>
        <div class="tablet:grid-col-8 usa-prose">
            <p>The Germplasm Resources Information Network (GRIN) web server provides germplasm information about plants, animals, microbes and invertebrates important for food and agricultural production. These include lists of currently registered cultivars, historical seed and varietal catalogs, and related resources.</p>
            <p>There are more than 500,000 accessions (distinct varieties of plants) in the GRIN database. These accessions represent more than 10,000 species of plants. See the Helps and Hints page if you are having trouble getting your results. The GRIN database is managed by the Database Management Unit (DBMU), while the acquisition of plants is managed by the Plant Exchange Office (PEO).</p>
            <p>The <strong>National Genetic Resources Program (NGRP)</strong> of the USDA acquires, characterizes, conserves, documents, and distributes to scientists germplasm of all life forms important for food and agricultural production.</p>
            <p>he Germplasm Resources Information Network (GRIN) documents these animal, microbial, and plant collections through informational pages, searchable databases, and links to USDA-ARS projects that curate the collections. GRIN is operated by the National Germplasm Resources Laboratory in Beltsville, MD. The National Genetic Resources Advisory Council represents U.S. agricultural stakeholders and provides recommendations to the Secretary of USDA on national policies related to agricultural genetic resources.</p>
        </div>
        <div class="gcse-search"></div>
    </div>
</section>
<section class="usa-graphic-list usa-section usa-section--dark">
    <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="https://www.ars-grin.gov/assets/uswds-2.10.0/img/plants.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading"><a href="" style="color: #02acca;">Plant Germplasm</a></h2>
                    <p>The National Plant Germplasm System (NGPS) is a collaborative effort to safeguard the genetic diversity of agriculturally important plants. The mission of the NPGS is to support agricultural production by acquiring, conserving, evaluating, documenting, and distributing crop germplasm.</p>
                </div>
            </div>
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="https://www.ars-grin.gov/assets/uswds-2.10.0/img/animals.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading">Animal Germplasm</h2>
                    <p>Animal genetic resources underpin the livestock sector’s production and profitability. As a result livestock industries contribute billions of dollars to national economies. Our mission is to acquire, evaluate and preserve these strategic resources so that industry and the research community can have access to a broad array of genetic variability for national security, the introduction of genetic variation, corrective mating, and various research initiatives.</p>
                </div>
            </div>
        </div>
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="https://www.ars-grin.gov/assets/uswds-2.10.0/img/microbial.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading">Micriobial Germplasm</h2>
                    <p>For anything you want to highlight here, understand what your users know now, and what activity or impression you want from them after they see it.</p>
                </div>
            </div>
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="https://www.ars-grin.gov/assets/uswds-2.10.0/img/collections.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading">GRIN Collections</h2>
                    <p>In addition to your goal, find out your users’ goals. What do they want to know or do that supports your mission? Use these headings to show those.</p>
                </div>
            </div>
        </div>
    </div>
</section>
