<section class="usa-hero" aria-label="Introduction" style="background-image:url('../assets/images/hero-topic-plants_0.jpg');">
    <div class="grid-container">
        <div class="usa-hero__callout">
            <h1 class="usa-hero__heading">
                <span class="usa-hero__heading--alt">GRIN-Global:</span>Spread America's Seed
            </h1>
            <section aria-label="Default search component">
                <form class="usa-search " role="search">
                    <label class="usa-sr-only" for="search-field">Search</label>
                    <input class="usa-input" id="search-field" type="search" name="search">
                    <button class="usa-button" type="submit">
                        <span class="usa-search__submit-text">Search</span>
                    </button>
                </form>
            </section>
        </div>

    </div>
</section>
<section class="grid-container usa-section">

    <div class="grid-row grid-gap">




        <div class="tablet:grid-col-4">
            <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">What is the NGRP?</h2>
        </div>
        <div class="tablet:grid-col-8 usa-prose">
            <p>The National Genetic Resources Program (NGRP) of USDA acquires, characterizes, conserves, documents, and distributes to scientists germplasm of all life forms important for food and agricultural production.</p>
            <p>he Germplasm Resources Information Network (GRIN) documents these animal, microbial, and plant collections through informational pages, searchable databases, and links to USDA-ARS projects that curate the collections. GRIN is operated by the National Germplasm Resources Laboratory in Beltsville, MD. The National Genetic Resources Advisory Council represents U.S. agricultural stakeholders and provides recommendations to the Secretary of USDA on national policies related to agricultural genetic resources.</p>
        </div>
        <section>
            <div id="mapid" style="width: 600px; height: 400px;"></div>
            <div id="map-detail" style="background-color:yellow;">
                <h2>TEST</h2>
            </div>
        </section>
    </div>
</section>
<section class="usa-graphic-list usa-section usa-section--dark">
    <div class="grid-container">
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="/assets/uswds-2.10.0/img/plants.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading"><a href="" style="color: #02acca;">Plant Germplasm</a></h2>
                    <p>The National Plant Germplasm System (NGPS) is a collaborative effort to safeguard the genetic diversity of agriculturally important plants. The mission of the NPGS is to support agricultural production by acquiring, conserving, evaluating, documenting, and distributing crop germplasm.</p>
                </div>
            </div>
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="/assets/uswds-2.10.0/img/animals.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading">Animal Germplasm</h2>
                    <p>Animal genetic resources underpin the livestock sector’s production and profitability. As a result livestock industries contribute billions of dollars to national economies. Our mission is to acquire, evaluate and preserve these strategic resources so that industry and the research community can have access to a broad array of genetic variability for national security, the introduction of genetic variation, corrective mating, and various research initiatives.</p>
                </div>
            </div>
        </div>
        <div class="usa-graphic-list__row grid-row grid-gap">
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="/assets/uswds-2.10.0/img/microbial.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading">Micriobial Germplasm</h2>
                    <p>For anything you want to highlight here, understand what your users know now, and what activity or impression you want from them after they see it.</p>
                </div>
            </div>
            <div class="usa-media-block tablet:grid-col">
                <img class="usa-media-block__img" src="/assets/uswds-2.10.0/img/collections.jpg" alt="Alt text" style="height: 90px; width: 110px;">
                <div class="usa-media-block__body">
                    <h2 class="usa-graphic-list__heading">GRIN Collections</h2>
                    <p>In addition to your goal, find out your users’ goals. What do they want to know or do that supports your mission? Use these headings to show those.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="https://leafletjs.com/examples/choropleth/us-states.js"></script>
<script type="text/javascript">

    var map = L.map('mapid').setView([37.8, -96], 1);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/light-v9',
        tileSize: 512,
        zoomOffset: -1
    }).addTo(map);

    

    
    //var marker = L.marker([44.550442, -123.220108]).addTo(map);

    //function onMapClick(e) {
    //    alert("You clicked the map at " + e.latlng);
    //}

    var marker = new L.Marker([44.550442, -123.220108]).on('click', markerOnClick).addTo(map);

    function markerOnClick(e) {
        //alert("hi. you clicked the marker at " + e.latlng);
        $("#map-detail").html("Corvallis, OR");
    }


    //map.on('click', onMapClick);


    // control that shows state info on hover
    var info = L.control();

    info.onAdd = function (map) {
        this._div = L.DomUtil.create('div', 'info');
        this.update();
        return this._div;
    };

    info.update = function (props) {
        this._div.innerHTML = '<h4>US Population Density</h4>' + (props ?
            '<b>' + props.name + '</b><br />' + props.density + ' people / mi<sup>2</sup>'
            : 'Hover over a state');
    };

    //info.addTo(map);
       

    // get color depending on population density value
    function getColor(d) {
        return d > 1000 ? '#800026' :
            d > 500 ? '#BD0026' :
                d > 200 ? '#E31A1C' :
                    d > 100 ? '#FC4E2A' :
                        d > 50 ? '#FD8D3C' :
                            d > 20 ? '#FEB24C' :
                                d > 10 ? '#FED976' :
                                    '#FFEDA0';
    }

    function style(feature) {
        return {
            weight: 2,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7,
            fillColor: getColor(feature.properties.density)
        };
    }

    function highlightFeature(e) {
        var layer = e.target;

        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }

        info.update(layer.feature.properties);
    }

    var geojson;

    function resetHighlight(e) {
        geojson.resetStyle(e.target);
        info.update();
    }

    function zoomToFeature(e) {
        map.fitBounds(e.target.getBounds());
    }

    function onEachFeature(feature, layer) {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            click: zoomToFeature
        });
    }

    //geojson = L.geoJson(statesData, {
    //    style: style,
    //    onEachFeature: onEachFeature
    //}).addTo(map);

    map.attributionControl.addAttribution('Population data &copy; <a href="http://census.gov/">US Census Bureau</a>');


    var legend = L.control({ position: 'bottomright' });

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'info legend'),
            grades = [0, 10, 20, 50, 100, 200, 500, 1000],
            labels = [],
            from, to;

        for (var i = 0; i < grades.length; i++) {
            from = grades[i];
            to = grades[i + 1];

            labels.push(
                '<i style="background:' + getColor(from + 1) + '"></i> ' +
                from + (to ? '&ndash;' + to : '+'));
        }

        div.innerHTML = labels.join('<br>');
        return div;
    };

    legend.addTo(map);

</script>
