
@model USDA.ARS.GRIN.Web.ViewModelLayer.PVPApplicationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDS.cshtml";
}

<div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">What is GRIN?</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
        <p>The Germplasm Resources Information Network (GRIN) web server provides germplasm information about plants, animals, microbes and invertebrates important for food and agricultural production. These include lists of currently registered cultivars, historical seed and varietal catalogs, and related resources.</p>
        <p>There are more than 500,000 accessions (distinct varieties of plants) in the GRIN database. These accessions represent more than 10,000 species of plants. See the Helps and Hints page if you are having trouble getting your results. The GRIN database is managed by the Database Management Unit (DBMU), while the acquisition of plants is managed by the Plant Exchange Office (PEO).</p>
        <p>The <strong>National Genetic Resources Program (NGRP)</strong> of the USDA acquires, characterizes, conserves, documents, and distributes to scientists germplasm of all life forms important for food and agricultural production.</p>
        <p>he Germplasm Resources Information Network (GRIN) documents these animal, microbial, and plant collections through informational pages, searchable databases, and links to USDA-ARS projects that curate the collections. GRIN is operated by the National Germplasm Resources Laboratory in Beltsville, MD. The National Genetic Resources Advisory Council represents U.S. agricultural stakeholders and provides recommendations to the Secretary of USDA on national policies related to agricultural genetic resources.</p>
    </div>
    <div class="gcse-search"></div>
</div>