
@model USDA.ARS.GRIN.Web.ViewModelLayer.PVPApplicationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDS.cshtml";
}

<div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
        <h2 class="font-heading-xl margin-top-0 tablet:margin-bottom-0">What is GRIN?</h2>
    </div>
    <div class="tablet:grid-col-8 usa-prose">
        <p>
            The Germplasm Resources Information Network (GRIN) provides information about USDA national collections of 
            animal, microbial, and plant genetic resources (germplasm) important for food and agricultural production. 
            GRIN documents these collections through informational pages, searchable databases, and links to USDA-ARS 
            projects that curate the collections.
        </p>
        <p>
            GRIN products include several applications developed by the <a href="https://www.ars.usda.gov/northeast-area/beltsville-md-barc/beltsville-agricultural-research-center/national-germplasm-resources-laboratory/">
            National Germplasm Resources Laboratory</a> in Beltsville, MD. <a href="https://www.grin-global.org/">
            GRIN-Global</a> includes the ARS version of a <a href="https://npgsweb.ars-grin.gov/gringlobal/search">
            public website</a> for the U.S. National Plant Germplasm System, which curates more than 600,000 active accessions of plant genetic resources for food
            and agriculture.
        </p>
        <p>
            <a href="https://grin-u.org/">GRIN-U</a> is a collaboratively developed site that provides freely available educational and training
            content on plant genetic resources conservation and use.
        </p>
    </div>
    <div class="gcse-search"></div>
</div>