<footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
        <nav class="usa-footer__nav" aria-label="Footer navigation">
            <ul class="grid-row grid-gap">
                <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Collections</a>
                </li>
                <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Crop Germplasm Committees</a>
                </li>
                <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">National Genetic Resources Council</a>
                </li>
                <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">GRIN-U</a>
                </li>
                <li class="
              mobile-lg:grid-col-4
              desktop:grid-col-auto
              usa-footer__primary-content
            ">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="usa-footer__secondary-section" style="background-color: #323a45;">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="
              usa-footer__logo
              grid-row
              mobile-lg:grid-col-6 mobile-lg:grid-gap-2
            ">
                    <div class="mobile-lg:grid-col-auto">
                        <img class="usa-footer__logo-img"
                             src="/assets/img/logo-img.png"
                             alt="" />
                    </div>
                    <div class="mobile-lg:grid-col-auto">
                        <p class="usa-footer__logo-heading" style="color:white;">USDA ARS-GRIN</p>
                    </div>
                </div>
                <div class="usa-footer__contact-links mobile-lg:grid-col-6">
                    <div class="usa-footer__social-links grid-row grid-gap-1">
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon"
                                     src="https://www.ars.usda.gov/ARSUserFiles/00000000/images/social_media///square-facebook-icon.jpg"
                                     alt="Facebook" />
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon"
                                     src="https://www.ars.usda.gov/ARSUserFiles/00000000/images/social_media///twitter.png"
                                     alt="Twitter" />
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon"
                                     src="https://www.ars.usda.gov/ARSUserFiles/00000000/images/social_media///youtube.png"
                                     alt="YouTube" />
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon"
                                     src="https://www.ars.usda.gov//ARSUserFiles/00000000/images/social_media///linkedin.png"
                                     alt="LinkedIn" />
                            </a>
                        </div>
                        @*<div class="grid-col-auto">
                            <a class="usa-social-link" href="javascript:void(0);">
                                <img class="usa-social-link__icon"
                                     src="/assets/img/usa-icons/rss_feed.svg"
                                     alt="RSS" />
                            </a>
                        </div>*@
                    </div>
                    <p class="usa-footer__contact-heading" style="color:white;">
                        Connect With ARS
                    </p>
                    <address class="usa-footer__address">
                        <div class="usa-footer__contact-info grid-row grid-gap">
                            <div class="grid-col-auto">
                                <a href="https://www.ars.usda.gov/" style="color:white;">ARS Home</a>
                            </div>
                            <div class="grid-col-auto">
                                <a href="http://www.usda.gov/" style="color:white;">USDA.gov</a>
                            </div>
                        </div>
                    </address>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--<footer class="usa-footer">
    <div class="grid-container usa-footer__return-to-top">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
        <nav class="usa-footer__nav" aria-label="Footer navigation">
            <ul class="grid-row grid-gap">
                <li class="mobile-lg:grid-col-4 desktop:grid-col-auto usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Collections</a>
                </li>
                <li class="mobile-lg:grid-col-4
                  desktop:grid-col-auto
                  usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">Crop Germplasm Committees</a>
                </li>
                <li class="mobile-lg:grid-col-4
                  desktop:grid-col-auto
                  usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">National Genetic Resources Advisory Council</a>
                </li>
                <li class="mobile-lg:grid-col-4
                  desktop:grid-col-auto
                  usa-footer__primary-content">
                    <a class="usa-footer__primary-link" href="javascript:void(0);">GRIN-U</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="usa-footer__secondary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="
                  usa-footer__logo
                  grid-row
                  mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
                    <div class="mobile-lg:grid-col-auto">
                        <img class="usa-footer__logo-img"
                             src="/assets/img/logo-img.png"
                             alt="" />
                    </div>
                    <div class="mobile-lg:grid-col-auto">
                        <p class="usa-footer__logo-heading">USDA ARS-GRIN</p>
                    </div>
                </div>
                <div class="usa-footer__contact-links mobile-lg:grid-col-6">
                    <div class="usa-footer__social-links grid-row grid-gap-1">
                        <div class="grid-col-auto">
                            <a class="usa-social-link"
                               href="https://www.facebook.com/AgriculturalResearchService"
                               target="_blank" rel="noopener noreferrer">
                                <img class="usa-social-link__icon"
                                     src="/assets/img/usa-icons/facebook.svg"
                                     alt="Facebook" />
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link"
                               href="https://twitter.com/USDA_ARS?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                               target="_blank" rel="noopener noreferrer">
                                <img class="usa-social-link__icon"
                                     src="/assets/img/usa-icons/twitter.svg"
                                     alt="Twitter" />
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link"
                               href="https://www.youtube.com/c/USDAARS"
                               target="_blank" rel="noopener noreferrer">
                                <img class="usa-social-link__icon"
                                     src="/assets/img/usa-icons/youtube.svg"
                                     alt="YouTube" />
                            </a>
                        </div>
                        <div class="grid-col-auto">
                            <a class="usa-social-link"
                               href="https://www.instagram.com/usdagov/?hl=en"
                               target="_blank" rel="noopener noreferrer">
                                <img class="usa-social-link__icon"
                                     src="/assets/img/usa-icons/instagram.svg"
                                     alt="Instagram" />
                            </a>
                        </div>
                    </div>-->
                    @*<p class="usa-footer__contact-heading">
                            &lt;Agency Contact Center&gt;
                        </p>
                        <address class="usa-footer__address">
                            <div class="usa-footer__contact-info grid-row grid-gap">
                                <div class="grid-col-auto">
                                    <a href="tel:1-800-555-5555">&lt;(800) 555-GOVT&gt;</a>
                                </div>
                                <div class="grid-col-auto">
                                    <a href="mailto:info@agency.gov">&lt;info@agency.gov&gt;</a>
                                </div>
                            </div>
                        </address>*@
                <!--</div>
            </div>
        </div>
    </div>
</footer>-->