@*<section class="usa-hero" aria-label="Introduction" style="background-image:url('../../assets/img/hero-topic-plants_0.jpg');">*@
<section class="usa-hero" aria-label="Introduction" style="background-image:url('/assets/img/hero-topic-plants_0.jpg');">
    <div class="grid-container">
        <div class="usa-hero__callout">
            <h1 class="usa-hero__heading">
                <span class="usa-hero__heading--alt">GRIN-Global:</span>
                Empowering and enabling crop diversity
            </h1>
            <p>
                Search over <strong>500,000</strong> active accessions
            </p>

            <section aria-label="Default search component">
                <form class="usa-search " role="search">
                    <label class="usa-sr-only" for="search-field">Search</label>
                    <input class="usa-input" id="search-field" type="search" name="search">
                    <button id="btnSearchGRINGlobal" class="usa-button" type="submit">
                        <span class="usa-search__submit-text">Search</span>
                    </button>
                </form>
            </section>

            @*<a class="usa-button" href="">Call to action</a>*@
        </div>
    </div>
</section>
