@model USDA.ARS.GRIN.Web.WebUI.ViewModels.PVPDetailListViewModel

<input type="hidden" id="hfSelectedView" value="@Model.DisplayFormat" />
@*<ul class="usa-accordion-bordered">*@
    @foreach (var referenceItem in Model.ReferenceItems)
    {
        @*<li>
                <button class="usa-accordion-button" style="background-color:darkgray;" id="button-@referenceItem.ID" title="@referenceItem.Context" aria-expanded="false" aria-controls="control-@referenceItem.ID">@referenceItem.Title</button>
                <div class="usa-accordion-content" id="control-@referenceItem.ID" style="padding:15px; border:none; background-color:white; color:white;" aria-hidden="true">
                    <div id="crop-detail-section-@referenceItem.ID">

                    </div>
                </div>
            </li>*@
    {Html.RenderAction("Detail", "PVP", new { referenceItemId = referenceItem.ID, displayFormat = "expiration-date" });}
    }
@*</ul>*@
