@{
    ViewBag.Title = "Home Page";
}

<main class="usa-grid usa-section usa-content usa-layout-docs">
    <div>
       <a href="/">ARS Home</a>
        >> About ARS
    </div>
    
    <div style="clear:both;">
        <hr />
    </div>
    
    <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
        <h4>Home</h4>
        <ul class="usa-sidenav-list">
            <h4>Browse by Subject</h4>
            <li><a href="#">Plant Germplasm</a></li>
            <li><a href="https://nrrc.ars.usda.gov/A-GRIN/database_collaboration_page_dev">Animal Germplasm</a></li>
            <li><a href="#">Microbial Germplasm</a></li>
            <li><a href="#">Invertebrate Germplasm</a></li>
        </ul>
    </aside>
    
    <div class="usa-width-three-fourths usa-layout-docs-main_content">
        Welcome!

        In 1990, the U.S. Congress authorized establishment of a National Genetic Resources Program (NGRP). It is the NGRP's responsibility to: acquire, characterize, preserve, document, and distribute to scientists, germplasm of all lifeforms important for food and agricultural production.
        The Germplasm Resources Information Network (GRIN) web server provides germplasm information about plants, animals, microbes and invertebrates. This program is within the U.S. Department of Agriculture's Agricultural Research Service.

        The National Genetic Resources Advisory Council (NGRAC) advises and makes recommendations to the Secretary and Director of the NGRP. The NGRAC responds to the important issues of the nation in respect to conserving and utilizing genetic resources for food and agriculture.

        Click here. for a summary of the GRIN-Global project that is developing and deploying a new version of the GRIN system for plants.
    </div>
   
</main>