@model USDA.ARS.GRIN.Web.ViewModelLayer.PVPApplicationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterior.cshtml";
}

<style>
    #overlay {
        height: 100%;
        width: 100%;
        position: fixed; /* NOTE: Had originally been "absolute;" overlay did not conceal entire page and allowed scrolling behind it. */
        top: 0px;
        left: 0px;
        z-index: 99999;
        background-color: #1b1b1b;
        color: white;
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        opacity: 0.75;
        display: none;
        overflow: scroll;
    }

        #overlay h2 {
            position: fixed;
            margin-left: 40%;
            top: 40%;
        }
</style>

<div id="overlay"><h2>Loading .. Please wait</h2></div>
<div class="grid-container">
    <div class="grid-row grid-gap">
        <main class="usa-layout-docs__main desktop:grid-col-12 usa-prose usa-layout-docs" id="main-content">
            <h2 id="section-heading-h2">PVP Applications as of 9/19/2022</h2>
            <p>
                This collection is maintained in conjunction with the <a class="usa-link usa-link--alt usa-link--external" href="https://www.ams.usda.gov/services/plant-variety-protection">
                    Agricultural Marketing Service Plant Variety Protection Office (PVPO)
                </a>, which provides intellectual property protection to breeders of new varieties of sexually reproduced, tuber propagated, and asexually reproduced plant varieties.
                This office publishes regular updates to the status of PVP applications and certificates.
            </p>
            <h3 id="section-heading-h3">Applications by Status</h3>
            <p>
                <table class="usa-table usa-table--borderless" style="width:100%;">
                    <thead>
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Description</th>
                            <th scope="col">Application Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><strong><a href="">Application Abandoned</a></strong></th>
                            <td>
                                The PVP office is unable to locate the applicant.
                            </td>
                            <td>889</td>
                        </tr>
                        <tr>
                            <th scope="row">Application Denied</th>
                            <td>
                                The PVP Office has determined that the application does not meet the criteria.
                            </td>
                            <td>1791</td>
                        </tr>
                        <tr>
                            <th scope="row">Application Ineligible</th>
                            <td>
                                The PVP Office has determined that the application does not meet the criteria.
                            </td>
                            <td>1848</td>
                        </tr>
                        <tr>
                            <th scope="row">Application Pending</th>
                            <td>
                                The PVP Office is currently reviewing the application.
                            </td>
                            <td>1863</td>
                        </tr>
                        <tr>
                            <th scope="row">Application Withdrawn</th>
                            <td>
                                The applicant has informed the PVP Office that they no longer wish to pursue the application process.
                            </td>
                            <td>1863</td>
                        </tr>
                    </tbody>
                </table>
            </p>
            <h3 id="section-heading-h3">Browse Applications</h3>
            <div class="usa-alert usa-alert--info usa-alert--slim">
                <div class="usa-alert__body">
                    <p class="usa-alert__text">
                        All data represented here is based on an <a class="usa-link usa-link--alt usa-link--external" href="https://www.ams.usda.gov/services/plant-variety-protection/application-status">update</a> from <strong>9/19/2022</strong>. Please <a href="@Url.Action("Index","Contact", new { context="pvp" })">contact us</a> regarding any errors or omissions.
                    </p>
                </div>
            </div>
            <div class="grid-container margin-2">
                <div class="grid-row grid-gap">
                    <div id="section-filter-by-time-frame" class="grid-col-12">
                        <ul class="usa-button-group usa-button-group--segmented" style="padding-left:0px;">
                            <li class="usa-button-group__item">
                                <button id="btn-expired" title="EXP6" class="usa-button">Certificate Expiring in 6 Months</button>
                            </li>
                            <li class="usa-button-group__item">
                                <button id="btn-submitted" title="REXP" class="usa-button usa-button--outline">Certificate Recently Expired</button>
                            </li>
                            <li class="usa-button-group__item">
                                <button id="btn-expiring" title="RSUB" class="usa-button usa-button--outline">Application Recently Submitted</button>
                            </li>
                            <li class="usa-button-group__item usa-button--accent-cool">

                                <a class="usa-button usa-button--accent-cool" href="@Url.Action("Search","PVP")">Advanced Search...</a>

                                @*<button id="btn-advanced-search" title="RSUB" class="usa-button usa-button--accent-cool"></button>*@

                            </li>
                        </ul>
                        <div id="section-pvp-applications" style="margin-top:20px;">

                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div id="modal-pvp-detail" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    <span id="site-name">TEST</span>
                </h3>

            </div>
            <div class="modal-body">
                <table class="usa-table usa-table--borderless">
                    <tbody>                        
                        <tr>
                            <th scope="row" style="font-weight:bold;">PI Number</th>
                            <td>
                                12345
                            </td>
                            <td>1776</td>
                        </tr>
                        <tr>
                            <th scope="row">Applicant</th>
                            <td>
                                The first ten amendments of the U.S. Constitution guaranteeing rights
                                and freedoms.
                            </td>
                            <td>1791</td>
                        </tr>
                        <tr>
                            <th scope="row">Declaration of Sentiments</th>
                            <td>
                                A document written during the Seneca Falls Convention outlining the
                                rights that American women should be entitled to as citizens.
                            </td>
                            <td>1848</td>
                        </tr>
                        <tr>
                            <th scope="row">Emancipation Proclamation</th>
                            <td>
                                An executive order granting freedom to slaves in designated southern
                                states.
                            </td>
                            <td>1863</td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        LoadData("EXP6");

        $("#data-table_pvp_applications_filter").html("<label>Filter Results</label>");

    });

    /*========================================================================================
    * STATUS SELECTORS
    *========================================================================================
    */
    //$(".status-selector").click(function () {
    //    LoadData("test");
    //});

    //function GetSelectedStatuses() {
    //    var valueArray = [];
    //    $("#section-filter-by-status input:checked").each(function () {
    //        var id = $(this).attr("id");
    //        valueArray.push(id);
    //    });
    //    return valueArray;
    //}

    $(function () {
        $('.usa-button-group__item button').on('click', function () {
            var context = $(this).attr("title");
            $('.usa-button-group__item button').addClass('usa-button--outline');
            $(this).removeClass('usa-button--outline');
            LoadData(context);
        });
    });

    //$(function () {
    //    $('.pvp-detail-btn').on('click', function () {
    //        var id = this.id;
    //        $('.usa-button-group__item button').addClass('usa-button--outline');
    //        $(this).removeClass('usa-button--outline');
    //        LoadData(context);
    //    });
    //});

    function LoadData(context)
    {
        $("#overlay").show();
        var link = '@Url.Action("_List", "PVP")';
        /*var selectedStatusList = GetSelectedStatuses();*/
        var selectedTimeFrame = context;
        var formData = new FormData();

        /*formData.append("StatusList", selectedStatusList);*/
        formData.append("TimeFrame", context);

        $.ajax({
            url: link,
            type: 'POST',
            cache: false,
            contentType: false,
            processData: false,
            data: formData,
            success: function (response) {
                $("#section-pvp-applications").html(response);
            }
        });
        $("#overlay").hide();
    }
</script>
