
<table class="usa-table usa-table--borderless usa-table--striped">
    @*<caption>
            Introductory Documents
        </caption>*@
    <thead>
        <tr>
            <th scope="col">Document title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                <a href="https://www.ars-grin.gov/npgs/cgc_reports/2019_CGC_Roles_and_Responsibilities_26_July_2019.doc">
                    Roles and Responsibilities
                </a>
            </th>
            <td>
                Additional information about CGC organization and function.
            </td>
        </tr>
        <tr>
            <th scope="row">
                <a href="https://www.ars-grin.gov/npgs/cgc_reports/Crop_Vulnerability_Statement_Outline.doc">
                    Crop Vulnerability Statement Outline
                </a>
            </th>
            <td>
                A guide to the format and content of Crop Vulnerability Statements.
            </td>
        </tr>
    </tbody>
</table>
