@model USDA.ARS.GRIN.Web.ViewModelLayer.CropGermplasmCommitteeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInterior.cshtml";
}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>

<style>
    .usa-collection {
        margin: 1em;
    }
</style>

<style>

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 1100px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>

<div class="grid-container">
    <div class="grid-row grid-gap">
        <div class="usa-layout-docs__sidenav desktop:grid-col-2">
            <nav aria-label="Secondary navigation">
                <form class="usa-search usa-search--small" role="search">
                    <label class="usa-sr-only" for="search-field-en-small">Search</label>
                    <input class="usa-input" id="search-field-en-small" type="search" name="search" placeholder="Search GRIN-Global">
                    <button class="usa-button" type="submit">
                        <span class="usa-sr-only">Search</span>
                    </button>
                </form>
                <br />
                <ul class="usa-sidenav">
                    <li class="usa-sidenav__item">
                        <a href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="usa-sidenav__item">
                        <ul class="usa-sidenav__sublist">
                            <li class="usa-sidenav__item active">
                                <a href="#section-overview">Overview</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="#section-directory">CGC Directory</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="#section-briefings">Annual CGC Chair Briefings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
            @*<h1>Crop Germplasm Committees</h1>*@
            <p class="usa-intro">
                The Crop Germplasm Committees (CGC) are comprised of a cross section of NPGS users who provide technical support to NPGS genebanks
                and collections.
            </p>
            <h2 id="section-overview">Overview</h2>
            <p>
                Crop Germplasm Committees (CGC) serve as subject matter experts to guide curatorial staff on best practices, including the priorities and techniques for characterizing the collections. They also help review proposals that fund plant explorations and evaluation grants for scientific rigor.
            </p>
            <p>
                There are currently <a href="#section-directory">44 CGCs</a> representing almost all major and minor crops of economic importance in the U.S. Each committee includes a chair and members from government agencies, universities, and commercial interests who volunteer their time and expertise to support the NPGS.
            </p>

            <table class="usa-table usa-table--borderless usa-table--striped">
                <caption>
                    Introductory Documents
                </caption>
                <thead>
                    <tr>
                        <th scope="col">Document title</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <a href="https://www.ars-grin.gov/npgs/cgc_reports/2019_CGC_Roles_and_Responsibilities_26_July_2019.doc">
                                Roles and Responsibilities
                            </a>
                        </th>
                        <td>
                            Additional information about CGC organization and function.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <a href="https://www.ars-grin.gov/npgs/cgc_reports/Crop_Vulnerability_Statement_Outline.doc">
                                Crop Vulnerability Statement Outline
                            </a>
                        </th>
                        <td>
                            A guide to the format and content of Crop Vulnerability Statements.
                        </td>
                    </tr>
                </tbody>
            </table>

            @*<h2>TEST Meeting Calendar</h2>
        <div id='calendar'></div>*@

            <h2 id="section-directory">Committee Directory</h2>
            @*@Html.Partial("_CommitteeList", "CGC")*@

            @*<h3 id="section-heading-h3">Subsection heading (h3)</h3>

        <p>The particulars of your body copy will be determined by the topic of your page. Regardless of topic, it’s a good practice to follow the inverted pyramid structure when writing copy: Begin with the information that’s most important to your users and then present information of less importance.</p>

        <p>Keep each section and subsection focused — a good approach is to include one theme (topic) per section.</p>

        <h4 id="section-heading-h4">Subsection heading (h4)</h4>

        <p>Use the side navigation menu to help your users quickly skip to different sections of your page. The menu is best suited to displaying a hierarchy with one to three levels and, as we mentioned, to display the sub-navigation of a given page.</p>

        <p>Read the full documentation on our side navigation on the component page.</p>*@

            <h2 id="section-briefings">Annual CGC Chair Briefings</h2>
            <table id="data-table-documents-briefings" class="usa-table usa-table--borderless usa-table--striped">
                <caption>
                    CAPTION HERE
                </caption>
                <thead>
                    <tr>
                        <th scope="col">Document title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Declaration of Independence</th>
                        <td>
                            Statement adopted by the Continental Congress declaring independence
                            from the British Empire.
                        </td>
                        <td>1776</td>
                    </tr>
                    <tr>
                        <th scope="row">Bill of Rights</th>
                        <td>
                            The first ten amendments of the U.S. Constitution guaranteeing rights
                            and freedoms.
                        </td>
                        <td>1791</td>
                    </tr>
                    <tr>
                        <th scope="row">Declaration of Sentiments</th>
                        <td>
                            A document written during the Seneca Falls Convention outlining the
                            rights that American women should be entitled to as citizens.
                        </td>
                        <td>1848</td>
                    </tr>
                    <tr>
                        <th scope="row">Emancipation Proclamation</th>
                        <td>
                            An executive order granting freedom to slaves in designated southern
                            states.
                        </td>
                        <td>1863</td>
                    </tr>
                </tbody>
            </table>

        </main>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            displayEventTime: false,
            initialDate: '2021-09-25',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listYear'
            },
            //events: {
            //    url: 'ics/feed.ics',
            //    format: 'ics',
            //    failure: function () {
            //        document.getElementById('script-warning').style.display = 'block';
            //    }
            //},
            events: 
                { // this object will be "parsed" into an Event Object
                    title: 'TEST MEETING', // a property!
                    start: '2021-09-25', // a property!
                    end: '2021-09-25' // a property! ** see important note below about 'end' **
                },
            loading: function (bool) {
                document.getElementById('loading').style.display =
                    bool ? 'block' : 'none';
            }
        });

        calendar.render();

        calendar.addEvent({
            title: 'TEST',
            start: '2021-09-25',
            allDay: true
        });

    });</script>
