@model USDA.ARS.GRIN.Web.ViewModelLayer.CropGermplasmCommitteeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUSWDSInterior.cshtml";
}
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css' rel='stylesheet' />
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.js'></script>

@*<style>
    .usa-collection {
        margin: 1em;
    }
</style>

<style>

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }

    #script-warning {
        display: none;
        background: #eee;
        border-bottom: 1px solid #ddd;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        color: red;
    }

    #loading {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    #calendar {
        max-width: 1100px;
        margin: 40px auto;
        padding: 0 10px;
    }
</style>*@

<div class="usa-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class="usa-layout-docs__sidenav desktop:grid-col-2">
                <nav aria-label="Secondary navigation">
                    <ul class="usa-sidenav">
                        <li class="usa-sidenav__item"><a href="">Home</a></li>
                        <li class="usa-sidenav__item">
                            <a href="" class="usa-current">CGC</a>
                            <ul class="usa-sidenav__sublist">
                                <li class="usa-sidenav__item"><a href="#overview">Overview</a></li>
                                <li class="usa-sidenav__item"><a href="#committees">Committees</a></li>
                                <li class="usa-sidenav__item"><a href="#briefings">Chair Briefings</a></li>
                            </ul>
                        </li>
                        <li class="usa-sidenav__item"><a href="@Url.Action("Index", "Contact")">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">
                <h1>Crop Germplasm Committees (CGC)</h1>
                <p class="usa-intro">
                    The Crop Germplasm Committees are comprised of a cross section of NPGS users who provide technical support to NPGS genebanks
                    and collections.
                </p>
                <a id="overview"></a>
                <h2 id="section-heading-h2">Overview</h2>
                <p>
                    Crop Germplasm Committees (CGC) serve as subject matter experts to guide curatorial staff on best practices, including the priorities and techniques for characterizing the collections. They also help review proposals that fund plant explorations and evaluation grants for scientific rigor.
                </p>
                <p>
                    There are currently <a href="#section-directory">44 CGCs</a> representing almost all major and minor crops of economic importance in the U.S. Each committee includes a chair and members from government agencies, universities, and commercial interests who volunteer their time and expertise to support the NPGS.
                </p>
                <h3 id="section-heading-h3">Documents</h3>
                <table class="usa-table usa-table--borderless usa-table--striped">
                    <thead>
                        <tr>
                            <th scope="col">Document title</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <a href="https://www.ars-grin.gov/npgs/cgc_reports/2019_CGC_Roles_and_Responsibilities_26_July_2019.doc">
                                    Roles and Responsibilities
                                </a>
                            </th>
                            <td>
                                Additional information about CGC organization and function.
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <a href="https://www.ars-grin.gov/npgs/cgc_reports/Crop_Vulnerability_Statement_Outline.doc">
                                    Crop Vulnerability Statement Outline
                                </a>
                            </th>
                            <td>
                                A guide to the format and content of Crop Vulnerability Statements.
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a id="committees"></a>
                <h3 id="section-heading-h3TEST">Committees</h3>
                @{ Html.RenderAction("_List", "CGC"); }
                <h3 id="section-heading-h3TEST2">Annual CGC Chair Briefings</h3>
                <a id="briefings"></a>
                @{ Html.RenderAction("_ListDocuments", "CGC", new { @categoryCode = "BRF" }); }            
            </main>
        </div>
    </div>
</div>

<!--<div class="grid-container">
    <div class="grid-row grid-gap">
        <div class="usa-layout-docs__sidenav desktop:grid-col-2">
            <nav aria-label="Secondary navigation">
                <form class="usa-search usa-search--small" role="search">
                    <label class="usa-sr-only" for="search-field-en-small">Search</label>
                    <input class="usa-input" id="search-field-en-small" type="search" name="search" placeholder="Search GRIN-Global">
                    <button class="usa-button" type="submit">
                        <span class="usa-sr-only">Search</span>
                    </button>
                </form>
                <br />
                <ul class="usa-sidenav">
                    <li class="usa-sidenav__item">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="usa-sidenav__item">
                        <ul class="usa-sidenav__sublist">
                            <li class="usa-sidenav__item active">
                                <a href="#section-overview">Overview</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="#section-directory">CGC Directory</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="#section-briefings">Annual CGC Chair Briefings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="usa-layout-docs__main desktop:grid-col-10 usa-prose usa-layout-docs" id="main-content">-->
            @*<h1>Crop Germplasm Committees</h1>*@
            <!--<p class="usa-intro">
                The Crop Germplasm Committees (CGC) are comprised of a cross section of NPGS users who provide technical support to NPGS genebanks
                and collections.
            </p>
            <h2 id="section-overview">Overview</h2>
            <p>
                Crop Germplasm Committees (CGC) serve as subject matter experts to guide curatorial staff on best practices, including the priorities and techniques for characterizing the collections. They also help review proposals that fund plant explorations and evaluation grants for scientific rigor.
            </p>
            <p>
                There are currently <a href="#section-directory">44 CGCs</a> representing almost all major and minor crops of economic importance in the U.S. Each committee includes a chair and members from government agencies, universities, and commercial interests who volunteer their time and expertise to support the NPGS.
            </p>

            <table class="usa-table usa-table--borderless usa-table--striped">
                <caption>
                    Introductory Documents
                </caption>
                <thead>
                    <tr>
                        <th scope="col">Document title</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">
                            <a href="https://www.ars-grin.gov/npgs/cgc_reports/2019_CGC_Roles_and_Responsibilities_26_July_2019.doc">
                                Roles and Responsibilities
                            </a>
                        </th>
                        <td>
                            Additional information about CGC organization and function.
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <a href="https://www.ars-grin.gov/npgs/cgc_reports/Crop_Vulnerability_Statement_Outline.doc">
                                Crop Vulnerability Statement Outline
                            </a>
                        </th>
                        <td>
                            A guide to the format and content of Crop Vulnerability Statements.
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 id="section-directory">Committees</h2>
            @{ Html.RenderAction("_List", "CGC"); }

            <h2 id="section-briefings">Annual CGC Chair Briefings</h2>
            <table id="data-table-documents-briefings" class="usa-table usa-table--borderless usa-table--striped">
                <caption>
                    CAPTION HERE
                </caption>
                <thead>
                    <tr>
                        <th scope="col">Document title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Declaration of Independence</th>
                        <td>
                            Statement adopted by the Continental Congress declaring independence
                            from the British Empire.
                        </td>
                        <td>1776</td>
                    </tr>
                    <tr>
                        <th scope="row">Bill of Rights</th>
                        <td>
                            The first ten amendments of the U.S. Constitution guaranteeing rights
                            and freedoms.
                        </td>
                        <td>1791</td>
                    </tr>
                    <tr>
                        <th scope="row">Declaration of Sentiments</th>
                        <td>
                            A document written during the Seneca Falls Convention outlining the
                            rights that American women should be entitled to as citizens.
                        </td>
                        <td>1848</td>
                    </tr>
                    <tr>
                        <th scope="row">Emancipation Proclamation</th>
                        <td>
                            An executive order granting freedom to slaves in designated southern
                            states.
                        </td>
                        <td>1863</td>
                    </tr>
                </tbody>
            </table>

        </main>
    </div>
</div>-->
<script type="text/javascript">
    //InitDataTable("tblDemo");
    //function InitDataTable(tableName) {
    //    $(document).ready(function () {
    //        var table = $("#" + tableName).DataTable({
    //            dom: 'Blfrtip',
    //            paging: true,
    //            //initComplete: function () {
    //            //    SetControlVisibility(tableName);
    //            //},
    //            responsive: true,
    //            buttons: [
    //                'selectAll',
    //                'selectNone',
    //                'csv',
    //                'excel',
    //                'pdf'
    //            ],
    //            select: true,
    //            searching: false,
    //            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
    //            columnDefs: [
    //                { targets: [0], visible: false }
    //            ]
    //        });
    //    });
    //}
</script>